Cow Temp Control.json
[{"id":"1a18432c.1f45a5","type":"tab","label":"Cow Temperature Control","disabled":false,"info":""},{"id":"6e2f05e5.f7e91c","type":"random","z":"1a18432c.1f45a5","name":"Sensor Temperature Cow1","low":"35","high":"45","inte":"true","property":"payload","x":300,"y":60,"wires":[["b28b0e59.0c6308","9dd6d455.1a5c78","cbf7e62c.738298","50d510c9.3d3f"]]},{"id":"8bd4d12f.6661c8","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca1","payload":"38.6","payloadType":"num","x":100,"y":60,"wires":[["6e2f05e5.f7e91c"]]},{"id":"4f24a862.c73d8","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 3","group":"a8b71ae6.4b63c8","order":3,"width":4,"height":3,"gtype":"donut","title":"Vaca 3","label":"ºC","format":"{{msg.payload}}","min":"35","max":"45","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"38.6","seg2":"40","x":600,"y":140,"wires":[]},{"id":"d9bcb5b9.4434d8","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca3","payload":"37","payloadType":"num","x":100,"y":140,"wires":[["a876008b.d53dd8"]]},{"id":"a876008b.d53dd8","type":"random","z":"1a18432c.1f45a5","name":"Sensor Temperature Cow3","low":"35","high":"45","inte":"true","property":"payload","x":320,"y":140,"wires":[["4f24a862.c73d8","cbf7e62c.738298","50d510c9.3d3f"]]},{"id":"2e8b2c7e.9dcd8c","type":"ui_button","z":"1a18432c.1f45a5","name":"","group":"82a772a5.fbdc18","order":3,"width":4,"height":1,"passthru":false,"label":"ERASE","tooltip":"","color":"white","bgcolor":"light green","icon":"warning","payload":"Do you want to erase all the chart? ","payloadType":"str","topic":"","topicType":"str","x":280,"y":320,"wires":[["c06e0d32.04178"]]},{"id":"c06e0d32.04178","type":"ui_toast","z":"1a18432c.1f45a5","position":"dialog","displayTime":"40","highlight":"blue","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":420,"y":320,"wires":[[]],"inputLabels":["Do you want to erase all the chart?"]},{"id":"9616373a.d03f","type":"switch","z":"1a18432c.1f45a5","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":320,"wires":[["c06e0d32.04178","3dc877f2.18e138"]]},{"id":"3dc877f2.18e138","type":"change","z":"1a18432c.1f45a5","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[["50d510c9.3d3f","7a065cf3.a28b5c"]]},{"id":"b28b0e59.0c6308","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 1","group":"a8b71ae6.4b63c8","order":1,"width":4,"height":3,"gtype":"gage","title":"Vaca 1 ","label":"ºC","format":"{{msg.payload}}","min":"35","max":"45","colors":["#ffb5af","#ff6251","#ff4013"],"seg1":"38.6","seg2":"40","x":600,"y":60,"wires":[]},{"id":"f4bd077c.a12428","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca5","payload":"38","payloadType":"num","x":100,"y":220,"wires":[["2aa628f3.a7efb8"]]},{"id":"2aa628f3.a7efb8","type":"random","z":"1a18432c.1f45a5","name":"Sensor Temperature Cow 5","low":"35","high":"45","inte":"true","property":"payload","x":320,"y":220,"wires":[["2a369089.ab4ac8","cbf7e62c.738298","7a065cf3.a28b5c"]]},{"id":"2a369089.ab4ac8","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 5","group":"a8b71ae6.4b63c8","order":5,"width":4,"height":3,"gtype":"donut","title":"Vaca 5","label":"ºC","format":"{{msg.payload}}","min":"35","max":"45","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"38.6","seg2":"40","x":600,"y":220,"wires":[]},{"id":"65e147bb.0cb1e","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca2","payload":"38","payloadType":"num","x":100,"y":100,"wires":[["e70a0680.7916f8"]]},{"id":"c4258fb3.d6e068","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca4","payload":"38","payloadType":"num","x":100,"y":180,"wires":[["a6c03f6d.2c5ea8"]]},{"id":"e3899aa7.fc4c7","type":"inject","z":"1a18432c.1f45a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca6","payload":"40","payloadType":"num","x":100,"y":260,"wires":[["8164f0f0.b1333"]]},{"id":"e70a0680.7916f8","type":"random","z":"1a18432c.1f45a5","name":"Temperature Cow2","low":"35","high":"44","inte":"true","property":"payload","x":310,"y":100,"wires":[["cb02ae58.988628","cbf7e62c.738298","50d510c9.3d3f"]]},{"id":"a6c03f6d.2c5ea8","type":"random","z":"1a18432c.1f45a5","name":"Sensor Temp Cow4","low":"37","high":"41","inte":"true","property":"payload","x":290,"y":180,"wires":[["1e265000.74823","cbf7e62c.738298","7a065cf3.a28b5c"]]},{"id":"8164f0f0.b1333","type":"random","z":"1a18432c.1f45a5","name":"Sensor Temp Cow6","low":"37","high":"41","inte":"true","property":"payload","x":310,"y":260,"wires":[["a203b6ff.c1557","cbf7e62c.738298","7a065cf3.a28b5c"]]},{"id":"cb02ae58.988628","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 2 ","group":"a8b71ae6.4b63c8","order":2,"width":4,"height":3,"gtype":"gage","title":"Vaca 2 ","label":"ºC","format":"{{msg.payload}}","min":"35","max":"45","colors":["#ffb5af","#ff6251","#ff4013"],"seg1":"38.6","seg2":"40","x":600,"y":100,"wires":[]},{"id":"1e265000.74823","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 4","group":"a8b71ae6.4b63c8","order":4,"width":4,"height":3,"gtype":"donut","title":"Vaca 4","label":"ºC","format":"{{msg.payload}}","min":"37","max":"41","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"38.6","seg2":"39","x":600,"y":180,"wires":[]},{"id":"a203b6ff.c1557","type":"ui_gauge","z":"1a18432c.1f45a5","name":"Sensor 6","group":"a8b71ae6.4b63c8","order":6,"width":4,"height":3,"gtype":"donut","title":"Vaca 6","label":"ºC","format":"{{msg.payload}}","min":"37","max":"41","colors":["#ff8c82","#ff6251","#e32400"],"seg1":"38.6","seg2":"39","x":600,"y":260,"wires":[]},{"id":"9dd6d455.1a5c78","type":"change","z":"1a18432c.1f45a5","name":"change","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":360,"wires":[["e76797f7.1d68f","f6c55101.c73c98"]]},{"id":"cda5d780.1d0d9","type":"function","z":"1a18432c.1f45a5","name":"INSERT INTO","func":"var random_num = Math.round(Math.random()*100);\nvar large_bool = (random_num > 50)?1:0;\n\nmsg.topic = \"INSERT INTO randomnum VALUES (\" + \n    msg.payload + \", \" + \n    random_num + \", \" + \n    large_bool + \")\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":640,"wires":[["a475da51.40b6a8","4179e993.abcd28"]]},{"id":"f6c55101.c73c98","type":"ui_button","z":"1a18432c.1f45a5","name":"Add random data","group":"26510aa5.3fee7e","order":1,"width":3,"height":1,"passthru":false,"label":"random data","tooltip":"","color":"white","bgcolor":"orange","icon":"add","payload":"payload","payloadType":"flow","topic":"","topicType":"str","x":110,"y":640,"wires":[["cda5d780.1d0d9"]]},{"id":"68f907b0.7bd75","type":"ui_button","z":"1a18432c.1f45a5","name":"Remove oldest data","group":"26510aa5.3fee7e","order":10,"width":8,"height":1,"passthru":false,"label":"oldest data","tooltip":"","color":"white","bgcolor":"grey","icon":"remove","payload":"old","payloadType":"str","topic":"","topicType":"str","x":100,"y":720,"wires":[["f0aa197f.ba5dc8"]]},{"id":"f0aa197f.ba5dc8","type":"function","z":"1a18432c.1f45a5","name":"DELETE FROM","func":"if (msg.payload == \"new\") {\n    msg.topic = \"DELETE FROM randomnum \" +\n        \"WHERE timestamp = (\"+ \n        \"SELECT max(timestamp) FROM randomnum)\"\n        \n} else if (msg.payload == \"old\") {\n    msg.topic = \"DELETE FROM randomnum \" +\n        \"WHERE timestamp = (\"+ \n        \"SELECT min(timestamp) FROM randomnum)\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":680,"wires":[["a475da51.40b6a8","4179e993.abcd28"]]},{"id":"bd236338.469708","type":"ui_button","z":"1a18432c.1f45a5","name":"Undo","group":"26510aa5.3fee7e","order":2,"width":2,"height":1,"passthru":false,"label":"undo","tooltip":"","color":"white","bgcolor":"red","icon":"undo","payload":"new","payloadType":"str","topic":"","topicType":"str","x":150,"y":680,"wires":[["f0aa197f.ba5dc8"]]},{"id":"4179e993.abcd28","type":"ui_button","z":"1a18432c.1f45a5","name":"Update","group":"26510aa5.3fee7e","order":3,"width":3,"height":1,"passthru":true,"label":"Update","tooltip":"","color":"white","bgcolor":"light blue","icon":"sync","payload":"","payloadType":"str","topic":"","topicType":"str","x":540,"y":660,"wires":[["de31551d.6d8378"]]},{"id":"e76797f7.1d68f","type":"function","z":"1a18432c.1f45a5","name":"CREATE TABLE","func":"msg.topic = \" CREATE TABLE randomnum( \" +\n    \"timestamp INT PRIMARY KEY NOT NULL, \" +\n    \"value INT NOT NULL, \" +\n    \"bool INT NOT NULL)\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":600,"wires":[["a475da51.40b6a8"]]},{"id":"d109cbe9.8012b8","type":"ui_template","z":"1a18432c.1f45a5","group":"26510aa5.3fee7e","name":"","order":4,"width":7,"height":5,"format":"<style>\n    table.greyGridTable {\n      border: 2px solid #FFFFFF;\n      width: 100%;\n      text-align: center;\n      border-collapse: collapse;\n    }\n    table.greyGridTable td, table.greyGridTable th {\n      border: 1px solid #FFFFFF;\n      padding: 2px 4px;\n    }\n    table.greyGridTable tbody td {\n      font-size: 13px;\n      color: #FFFFFF;\n    }\n    table.greyGridTable thead {\n        border-bottom: 3px solid #FFFFFF;\n    }\n    table.greyGridTable thead th {\n      font-size: 15px;\n      font-weight: bold;\n      color: #FFFFFF;\n      text-align: center;\n      border-left: 2px solid #FFFFFF;\n    }\n    table.greyGridTable thead th:first-child {\n      border-left: none;\n    }\n\n</style>\n\n<table class=\"greyGridTable\">\n  <thead>\n  <tr>\n    <th>Index</th> \n    <th>Timestamp</th>\n    <th>Value</th> \n    <th>Bool</th>\n  </tr>\n  </thead>\n  <tbody>\n  <tr ng-repeat=\"x in msg.payload | limitTo:25\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].timestamp}}</td>\n    <td>{{msg.payload[$index].value}}</td> \n    <td>{{msg.payload[$index].bool}}</td>\n  </tr>\n  </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":920,"y":660,"wires":[[]],"info":"https://divtable.com/table-styler/"},{"id":"a475da51.40b6a8","type":"sqlite","z":"1a18432c.1f45a5","mydb":"3bfd9d7f.cf1362","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":600,"wires":[[]]},{"id":"de31551d.6d8378","type":"sqlite","z":"1a18432c.1f45a5","mydb":"3bfd9d7f.cf1362","sqlquery":"fixed","sql":"SELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 100;","name":"","x":730,"y":660,"wires":[["d109cbe9.8012b8"]]},{"id":"cbf7e62c.738298","type":"switch","z":"1a18432c.1f45a5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"38","vt":"num"},{"t":"gt","v":"39.4","vt":"num"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":400,"wires":[["f1e4ee36.f8d84"],["f1e4ee36.f8d84"],["f1e4ee36.f8d84"],["13cb2d6.c8187d3"]]},{"id":"470dab1d.976fe4","type":"ui_button","z":"1a18432c.1f45a5","name":"ALERT","group":"82a772a5.fbdc18","order":5,"width":4,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"{{msg.text_colour}}","bgcolor":"{{msg.background_colour}}","icon":"feedback","payload":"ALERT!!","payloadType":"str","topic":"","topicType":"str","x":690,"y":380,"wires":[["a213590e.ea8fe","457138d9.fd17d8","17286ad2.d63895"]]},{"id":"a213590e.ea8fe","type":"ui_toast","z":"1a18432c.1f45a5","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Top Right banner","x":910,"y":380,"wires":[]},{"id":"f1e4ee36.f8d84","type":"change","z":"1a18432c.1f45a5","name":"colour settings","rules":[{"t":"set","p":"text_colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"background_colour","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["470dab1d.976fe4"]]},{"id":"457138d9.fd17d8","type":"ui_text","z":"1a18432c.1f45a5","group":"82a772a5.fbdc18","order":4,"width":4,"height":1,"name":"Message","label":"Message","format":"{{msg.topic}}","layout":"row-left","x":1060,"y":420,"wires":[]},{"id":"17286ad2.d63895","type":"delay","z":"1a18432c.1f45a5","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":420,"wires":[["4279d88b.e84528"]]},{"id":"4279d88b.e84528","type":"change","z":"1a18432c.1f45a5","name":"erase message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":420,"wires":[["457138d9.fd17d8"]]},{"id":"13cb2d6.c8187d3","type":"join","z":"1a18432c.1f45a5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":460,"wires":[["58ba2d66.3fdbfc"]]},{"id":"58ba2d66.3fdbfc","type":"csv","z":"1a18432c.1f45a5","name":"Temp Records","sep":",","hdrin":true,"hdrout":"once","multi":"one","ret":"\\r","temp":"Cow1,Cow2,Cow3,Cow4,Cow5,Cow6","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":false,"x":620,"y":460,"wires":[[]]},{"id":"7a065cf3.a28b5c","type":"ui_chart","z":"1a18432c.1f45a5","name":"Temperature Track","group":"82a772a5.fbdc18","order":2,"width":0,"height":0,"label":"Temperature Track","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"37","ymax":"41","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8c82","#b18cfe","#ffd877","#96d35f","#94e3fe","#d95000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":100,"wires":[[]]},{"id":"50d510c9.3d3f","type":"ui_chart","z":"1a18432c.1f45a5","name":"Temperature Track","group":"82a772a5.fbdc18","order":1,"width":0,"height":0,"label":"Temperature Track","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"37","ymax":"41","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8c82","#b18cfe","#ffd877","#96d35f","#94e3fe","#d95000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":60,"wires":[[]]},{"id":"a8b71ae6.4b63c8","type":"ui_group","name":"Current Temperature ","tab":"7ee3a46a.0e75ec","order":1,"disp":true,"width":"8","collapse":false},{"id":"82a772a5.fbdc18","type":"ui_group","name":"Chart","tab":"7ee3a46a.0e75ec","order":2,"disp":true,"width":"6","collapse":false},{"id":"26510aa5.3fee7e","type":"ui_group","name":"Database","tab":"7ee3a46a.0e75ec","order":3,"disp":true,"width":"8","collapse":true},{"id":"3bfd9d7f.cf1362","type":"sqlitedb","db":"/data/sqlite_database.db","mode":"RWC"},{"id":"7ee3a46a.0e75ec","type":"ui_tab","name":"Granjas y Vacas - Visión Particular","icon":"dashboard","order":4,"disabled":false,"hidden":false}]