Cow Weight Control.json
[{"id":"58f43fb4.337458","type":"tab","label":"Cow Weight Control","disabled":false,"info":""},{"id":"d7fbab06.baa83","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 3","group":"5e9f6a95.6bd064","order":4,"width":4,"height":3,"gtype":"donut","title":"Vaca 3","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"362","seg2":"453","x":480,"y":100,"wires":[]},{"id":"faf2bb88.a38c","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 1","group":"5e9f6a95.6bd064","order":2,"width":"4","height":3,"gtype":"donut","title":"Vaca 1 ","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ffb5af","#ff6251","#ff4013"],"seg1":"362.87","seg2":"453.59","x":480,"y":20,"wires":[]},{"id":"4927cbc9.65671c","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 5","group":"ef9c7d3.3893f8","order":2,"width":4,"height":3,"gtype":"donut","title":"Vaca 5","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"362","seg2":"453","x":480,"y":180,"wires":[]},{"id":"134290b2.78a2cf","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 2 ","group":"5e9f6a95.6bd064","order":3,"width":4,"height":3,"gtype":"donut","title":"Vaca 2 ","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ffb5af","#ff6251","#ff4013"],"seg1":"364","seg2":"453","x":480,"y":60,"wires":[]},{"id":"eca994af.703258","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 4","group":"ef9c7d3.3893f8","order":1,"width":4,"height":3,"gtype":"donut","title":"Vaca 4","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ff8c82","#ff6251","#ff4013"],"seg1":"362","seg2":"453","x":480,"y":140,"wires":[]},{"id":"2cdb7336.fcbe84","type":"ui_gauge","z":"58f43fb4.337458","name":"Sensor 6","group":"ef9c7d3.3893f8","order":3,"width":4,"height":3,"gtype":"donut","title":"Vaca 6","label":"kg","format":"{{msg.payload}}","min":"360","max":"455","colors":["#ff8c82","#ff6251","#e32400"],"seg1":"362","seg2":"452","x":480,"y":220,"wires":[]},{"id":"2898fc5f.78e70c","type":"ui_chart","z":"58f43fb4.337458","name":"Weight Track","group":"d92e255c.fd6138","order":1,"width":"6","height":"7","label":"Weight Track","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"360","ymax":"455","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8c82","#b18cfe","#ffd877","#96d35f","#94e3fe","#d95000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":20,"wires":[[]]},{"id":"b3e47415.d9cb48","type":"random","z":"58f43fb4.337458","name":"Weight Cow1","low":"360","high":"455","inte":"true","property":"payload","x":250,"y":20,"wires":[["faf2bb88.a38c","2898fc5f.78e70c","99c0f6c4.f535a8"]]},{"id":"a760f135.935838","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca1","payload":"0","payloadType":"num","x":90,"y":20,"wires":[["b3e47415.d9cb48"]]},{"id":"77100e17.bcdb58","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca3","payload":"0","payloadType":"num","x":100,"y":100,"wires":[["24c2381b.761268"]]},{"id":"24c2381b.761268","type":"random","z":"58f43fb4.337458","name":"Weight Cow3","low":"360","high":"455","inte":"true","property":"payload","x":270,"y":100,"wires":[["d7fbab06.baa83","2898fc5f.78e70c","99c0f6c4.f535a8"]]},{"id":"b5e0d08.4b547b","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca5","payload":"0","payloadType":"num","x":100,"y":180,"wires":[["7afe4390.a09a84"]]},{"id":"7afe4390.a09a84","type":"random","z":"58f43fb4.337458","name":"Weight Cow5","low":"360","high":"455","inte":"true","property":"payload","x":270,"y":180,"wires":[["4927cbc9.65671c","fc7c1de8.abce38","99c0f6c4.f535a8"]]},{"id":"c14b0b9d.1eb098","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca2","payload":"0","payloadType":"num","x":100,"y":60,"wires":[["3375b803.e927a"]]},{"id":"4ea93c39.7ea914","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca4","payload":"0","payloadType":"num","x":100,"y":140,"wires":[["9c4c82e9.dbf5c8"]]},{"id":"5edd7bfc.58e0a4","type":"inject","z":"58f43fb4.337458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"Vaca6","payload":"0","payloadType":"num","x":100,"y":220,"wires":[["6a412ee8.18ee18"]]},{"id":"3375b803.e927a","type":"random","z":"58f43fb4.337458","name":"Weight Cow2","low":"360","high":"455","inte":"true","property":"payload","x":290,"y":60,"wires":[["134290b2.78a2cf","2898fc5f.78e70c","99c0f6c4.f535a8"]]},{"id":"9c4c82e9.dbf5c8","type":"random","z":"58f43fb4.337458","name":"Weight Cow4","low":"360","high":"455","inte":"true","property":"payload","x":270,"y":140,"wires":[["eca994af.703258","fc7c1de8.abce38","99c0f6c4.f535a8"]]},{"id":"6a412ee8.18ee18","type":"random","z":"58f43fb4.337458","name":"Weight Cow6","low":"360","high":"455","inte":"true","property":"payload","x":290,"y":220,"wires":[["2cdb7336.fcbe84","fc7c1de8.abce38","99c0f6c4.f535a8"]]},{"id":"fc7c1de8.abce38","type":"ui_chart","z":"58f43fb4.337458","name":"Weight Track","group":"66c8cf6e.333d6","order":8,"width":"6","height":"7","label":"Weight Track","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"360","ymax":"455","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8c82","#b18cfe","#ffd877","#96d35f","#94e3fe","#d95000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":60,"wires":[[]]},{"id":"a64f1195.97d6e8","type":"ui_button","z":"58f43fb4.337458","name":"","group":"d92e255c.fd6138","order":3,"width":4,"height":1,"passthru":false,"label":"ERASE","tooltip":"","color":"white","bgcolor":"light green","icon":"warning","payload":"Do you want to erase all the chart? ","payloadType":"str","topic":"","topicType":"str","x":320,"y":300,"wires":[["aa5c6ada.55e7c"]]},{"id":"aa5c6ada.55e7c","type":"ui_toast","z":"58f43fb4.337458","position":"dialog","displayTime":"40","highlight":"blue","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":460,"y":300,"wires":[[]],"inputLabels":["Do you want to erase all the chart?"]},{"id":"8b9377ca.8033a","type":"switch","z":"58f43fb4.337458","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":300,"wires":[["aa5c6ada.55e7c","54a45977.c624a8"]]},{"id":"54a45977.c624a8","type":"change","z":"58f43fb4.337458","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[[]]},{"id":"99c0f6c4.f535a8","type":"switch","z":"58f43fb4.337458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"362","vt":"num"},{"t":"gt","v":"454","vt":"num"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":380,"wires":[["160f5675.4bec12"],["160f5675.4bec12"],["160f5675.4bec12"],["8eb41f23.2dace8"]]},{"id":"91c78d2.d49e07","type":"ui_button","z":"58f43fb4.337458","name":"ALERT","group":"ef9c7d3.3893f8","order":5,"width":4,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"{{msg.text_colour}}","bgcolor":"{{msg.background_colour}}","icon":"feedback","payload":"ALERT!!","payloadType":"str","topic":"","topicType":"str","x":730,"y":360,"wires":[["12538809.56471","756db748.cc9888","db2c062d.24af8"]]},{"id":"12538809.56471","type":"ui_toast","z":"58f43fb4.337458","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Top Right banner","x":950,"y":360,"wires":[]},{"id":"160f5675.4bec12","type":"change","z":"58f43fb4.337458","name":"colour settings","rules":[{"t":"set","p":"text_colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"background_colour","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["91c78d2.d49e07"]]},{"id":"756db748.cc9888","type":"ui_text","z":"58f43fb4.337458","group":"ef9c7d3.3893f8","order":4,"width":4,"height":1,"name":"Message","label":"Message","format":"{{msg.topic}}","layout":"row-left","x":1100,"y":400,"wires":[]},{"id":"db2c062d.24af8","type":"delay","z":"58f43fb4.337458","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":400,"wires":[["7f1b1346.2a2c04"]]},{"id":"7f1b1346.2a2c04","type":"change","z":"58f43fb4.337458","name":"erase message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":400,"wires":[["756db748.cc9888"]]},{"id":"8eb41f23.2dace8","type":"join","z":"58f43fb4.337458","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":440,"wires":[["5172b8b0.2ca61"]]},{"id":"5172b8b0.2ca61","type":"csv","z":"58f43fb4.337458","name":"Weight Records","sep":",","hdrin":true,"hdrout":"once","multi":"one","ret":"\\r","temp":"Cow1,Cow2,Cow3,Cow4,Cow5,Cow6","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":false,"x":660,"y":440,"wires":[[]]},{"id":"5e9f6a95.6bd064","type":"ui_group","name":"Cow Weight Control","tab":"90667457.7e22d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef9c7d3.3893f8","type":"ui_group","name":"Cow Weight Control","tab":"90667457.7e22d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d92e255c.fd6138","type":"ui_group","name":"Weight Track","tab":"90667457.7e22d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"66c8cf6e.333d6","type":"ui_group","name":"Weight Track","tab":"90667457.7e22d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"90667457.7e22d8","type":"ui_tab","name":"Granjas y Vacas - Visión Particular","icon":"dashboard","disabled":false,"hidden":false}]