Flows NodeRed-ESP32
[{"id":"64c143a6.1e231c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b9e57607.c0b498","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":150,"y":120,"wires":[["abff494c.f8da68","2406b31e.2993bc","f384ef3c.c8e99"]]},{"id":"abff494c.f8da68","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"9ea85f3a.ded23","type":"mqtt out","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:88:F0/cmd","qos":"1","retain":"","broker":"8ceca622.6638e8","x":410,"y":1440,"wires":[]},{"id":"bce5d384.98f4a","type":"inject","z":"64c143a6.1e231c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"","payloadType":"num","x":110,"y":1440,"wires":[["9ea85f3a.ded23"]]},{"id":"51e5d0f7.427c","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:88:F0/humidity","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":140,"y":200,"wires":[["31b68fe7.2bb6","e074374c.9c1618","b6bf845.97cce78"]]},{"id":"31b68fe7.2bb6","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"2406b31e.2993bc","type":"ui_gauge","z":"64c143a6.1e231c","name":"","group":"3309b402.c8987c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#89bbe1","#5f91e3","#1a4bbc"],"seg1":"","seg2":"","x":430,"y":60,"wires":[]},{"id":"e074374c.9c1618","type":"ui_gauge","z":"64c143a6.1e231c","name":"","group":"3b5f7cce.e71c44","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#92a0e8","#5f79d8","#1939d7"],"seg1":"","seg2":"","x":440,"y":260,"wires":[]},{"id":"fbc10543.789e08","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:88:F0/tempbuilding","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":420,"wires":[["de66ef01.5d7a5","93492825.20a298","a127caaa.6345e8"]]},{"id":"de66ef01.5d7a5","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":420,"wires":[]},{"id":"d4fe53e2.de583","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:88:F0/humbuilding","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":190,"y":480,"wires":[["55eecebf.96ff7","7b43597c.4e75c8","a127caaa.6345e8"]]},{"id":"55eecebf.96ff7","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"93492825.20a298","type":"ui_gauge","z":"64c143a6.1e231c","name":"","group":"4acae46f.df8ecc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#a5b8f3","#5e9ae8","#4770eb"],"seg1":"","seg2":"","x":470,"y":380,"wires":[]},{"id":"7b43597c.4e75c8","type":"ui_gauge","z":"64c143a6.1e231c","name":"","group":"4acae46f.df8ecc","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#98b1fb","#698bf2","#0d82e7"],"seg1":"","seg2":"","x":460,"y":560,"wires":[]},{"id":"f384ef3c.c8e99","type":"switch","z":"64c143a6.1e231c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"38","vt":"num"},{"t":"gt","v":"39.4","vt":"num"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":60,"wires":[["375193fd.5807fc"],["375193fd.5807fc"],["375193fd.5807fc"],[]]},{"id":"12e2ddfe.a787d2","type":"ui_button","z":"64c143a6.1e231c","name":"ALERT","group":"3309b402.c8987c","order":5,"width":4,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"{{msg.text_colour}}","bgcolor":"{{msg.background_colour}}","icon":"feedback","payload":"ALERT!!","payloadType":"str","topic":"","topicType":"str","x":950,"y":40,"wires":[["dbf48675.499378","84c5ccd1.3c983","155acd4e.883c43"]]},{"id":"dbf48675.499378","type":"ui_toast","z":"64c143a6.1e231c","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Top Right banner","x":1170,"y":40,"wires":[]},{"id":"375193fd.5807fc","type":"change","z":"64c143a6.1e231c","name":"colour settings","rules":[{"t":"set","p":"text_colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"background_colour","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":40,"wires":[["12e2ddfe.a787d2"]]},{"id":"84c5ccd1.3c983","type":"ui_text","z":"64c143a6.1e231c","group":"3309b402.c8987c","order":4,"width":4,"height":1,"name":"Message","label":"ALERTA!","format":"{{msg.topic}}","layout":"row-left","x":1320,"y":80,"wires":[]},{"id":"155acd4e.883c43","type":"delay","z":"64c143a6.1e231c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":80,"wires":[["5d3c2199.e9957"]]},{"id":"5d3c2199.e9957","type":"change","z":"64c143a6.1e231c","name":"erase message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":80,"wires":[["84c5ccd1.3c983"]]},{"id":"b6bf845.97cce78","type":"switch","z":"64c143a6.1e231c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"45","vt":"num"},{"t":"gt","v":"85","vt":"num"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":610,"y":200,"wires":[["d450e522.45a488"],["d450e522.45a488"],["d450e522.45a488"],[]]},{"id":"b2afe993.1cce08","type":"ui_button","z":"64c143a6.1e231c","name":"ALERT","group":"3b5f7cce.e71c44","order":5,"width":4,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"{{msg.text_colour}}","bgcolor":"{{msg.background_colour}}","icon":"feedback","payload":"ALERT!!","payloadType":"str","topic":"","topicType":"str","x":970,"y":180,"wires":[["f7f3d49c.773f28","9f43c97a.228e78","59f01e26.6c3f8"]]},{"id":"f7f3d49c.773f28","type":"ui_toast","z":"64c143a6.1e231c","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Top Right banner","x":1190,"y":180,"wires":[]},{"id":"d450e522.45a488","type":"change","z":"64c143a6.1e231c","name":"colour settings","rules":[{"t":"set","p":"text_colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"background_colour","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["b2afe993.1cce08"]]},{"id":"9f43c97a.228e78","type":"ui_text","z":"64c143a6.1e231c","group":"3b5f7cce.e71c44","order":4,"width":4,"height":1,"name":"Message","label":"ALERTA!","format":"{{msg.topic}}","layout":"row-left","x":1340,"y":220,"wires":[]},{"id":"59f01e26.6c3f8","type":"delay","z":"64c143a6.1e231c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":220,"wires":[["20bdcdcc.fc35e2"]]},{"id":"20bdcdcc.fc35e2","type":"change","z":"64c143a6.1e231c","name":"erase message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":220,"wires":[["9f43c97a.228e78"]]},{"id":"a127caaa.6345e8","type":"switch","z":"64c143a6.1e231c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"45","vt":"num"},{"t":"gt","v":"80","vt":"num"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":500,"wires":[["cbc99092.97f3c"],["cbc99092.97f3c"],["cbc99092.97f3c"],[]]},{"id":"91097307.d3bc8","type":"ui_button","z":"64c143a6.1e231c","name":"ALERT","group":"4acae46f.df8ecc","order":5,"width":4,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"{{msg.text_colour}}","bgcolor":"{{msg.background_colour}}","icon":"feedback","payload":"ALERT!!","payloadType":"str","topic":"","topicType":"str","x":1010,"y":480,"wires":[["13f17c48.abca34","78bd4f41.92e22","146c634f.1d5e0d"]]},{"id":"13f17c48.abca34","type":"ui_toast","z":"64c143a6.1e231c","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Top Right banner","x":1230,"y":480,"wires":[]},{"id":"cbc99092.97f3c","type":"change","z":"64c143a6.1e231c","name":"colour settings","rules":[{"t":"set","p":"text_colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"background_colour","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["91097307.d3bc8"]]},{"id":"78bd4f41.92e22","type":"ui_text","z":"64c143a6.1e231c","group":"4acae46f.df8ecc","order":4,"width":4,"height":1,"name":"Message","label":"ALERTA!","format":"{{msg.topic}}","layout":"row-left","x":1380,"y":520,"wires":[]},{"id":"146c634f.1d5e0d","type":"delay","z":"64c143a6.1e231c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":520,"wires":[["7d43a423.a838dc"]]},{"id":"7d43a423.a838dc","type":"change","z":"64c143a6.1e231c","name":"erase message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":520,"wires":[["78bd4f41.92e22"]]},{"id":"d7312c10.e8411","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/SEC","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":760,"wires":[["5060196d.d4d9f8"]]},{"id":"8fe69459.4482c8","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/MIN","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":160,"y":820,"wires":[["344e9c72.afe184"]]},{"id":"5060196d.d4d9f8","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":760,"wires":[]},{"id":"344e9c72.afe184","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":820,"wires":[]},{"id":"50605f32.3771","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/HOUR","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":880,"wires":[["d86f43ba.57c36"]]},{"id":"55170778.30bf58","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/YEAR","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":940,"wires":[["53ab49be.52eca8"]]},{"id":"d86f43ba.57c36","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":880,"wires":[]},{"id":"53ab49be.52eca8","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":940,"wires":[]},{"id":"e56b442b.d77d98","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/MONTH","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":180,"y":1000,"wires":[["73a9c5e0.43f2ac"]]},{"id":"73a9c5e0.43f2ac","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1000,"wires":[]},{"id":"f33d9cc1.881ae","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/SATS","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":1060,"wires":[["74730cef.bfbfe4"]]},{"id":"74730cef.bfbfe4","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1060,"wires":[]},{"id":"995ce23c.8b067","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/ALT","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":160,"y":1100,"wires":[["c46fb452.bbe8a8"]]},{"id":"c46fb452.bbe8a8","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1100,"wires":[]},{"id":"fc1d2a68.02f168","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/LONG","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":1140,"wires":[["f0558710.00de28"]]},{"id":"f0558710.00de28","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1140,"wires":[]},{"id":"87639916.cf0128","type":"mqtt in","z":"64c143a6.1e231c","name":"","topic":"10:52:1C:5C:8E:20/LAT","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":160,"y":1180,"wires":[["87a895e1.b5b7e8"]]},{"id":"87a895e1.b5b7e8","type":"debug","z":"64c143a6.1e231c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1180,"wires":[]},{"id":"9854d903.b95bb8","type":"comment","z":"64c143a6.1e231c","name":"Datos GPS Camión","info":"","x":140,"y":700,"wires":[]},{"id":"cc7fc1b4.d0814","type":"comment","z":"64c143a6.1e231c","name":"Datos Vaca","info":"","x":90,"y":40,"wires":[]},{"id":"a1fbdee4.8c80e","type":"comment","z":"64c143a6.1e231c","name":"Datos Planta","info":"","x":90,"y":360,"wires":[]},{"id":"8ceca622.6638e8","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3309b402.c8987c","type":"ui_group","name":"Vaca","tab":"cfb6924d.627d9","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b5f7cce.e71c44","type":"ui_group","name":"Recinto Vacas","tab":"cfb6924d.627d9","order":1,"disp":true,"width":"6","collapse":false},{"id":"4acae46f.df8ecc","type":"ui_group","name":"Planta","tab":"cfb6924d.627d9","order":3,"disp":true,"width":"6","collapse":false},{"id":"cfb6924d.627d9","type":"ui_tab","name":"GRANJA","icon":"dashboard","disabled":false,"hidden":false}]
