flows_planta.json
[{"id":"7876f8d8.925cc8","type":"tab","label":"Planta","disabled":false,"info":""},{"id":"9b0cfb31.39538","type":"comment","z":"7876f8d8.925cc8","name":"Oficinas ","info":"","x":70,"y":40,"wires":[]},{"id":"239c2554.07522a","type":"function","z":"7876f8d8.925cc8","name":"","func":"msg.color=\"green\" \nif (msg.payload > 21)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["b82194d3.0a4098"]]},{"id":"1b59923d.208436","type":"ui_text","z":"7876f8d8.925cc8","group":"1e1e5b58.cb6255","order":4,"width":6,"height":1,"name":"Office Hum","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Office Humidity:  </i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-left","x":730,"y":160,"wires":[]},{"id":"37e1cb16.16a30c","type":"function","z":"7876f8d8.925cc8","name":"","func":"msg.color=\"green\" \nif (msg.payload> 65)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["1b59923d.208436"]]},{"id":"b82194d3.0a4098","type":"ui_text","z":"7876f8d8.925cc8","group":"1e1e5b58.cb6255","order":3,"width":6,"height":1,"name":"Office Temp","label":"<i class=\"fa fa-thermometer-3\" aria-hidden=\"true\"> Office Temperature:   </i>","format":"<font color= {{msg.color}} > {{msg.payload}}ºC </font> ","layout":"row-left","x":730,"y":120,"wires":[]},{"id":"864a9dac.059fd","type":"comment","z":"7876f8d8.925cc8","name":"Planta","info":"","x":50,"y":360,"wires":[]},{"id":"ba48197c.5408d","type":"debug","z":"7876f8d8.925cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"cae37947.c508f","type":"function","z":"7876f8d8.925cc8","name":"","func":"msg.color=\"green\" \nif (msg.payload > 21)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":420,"wires":[["8ab6f216.b01598"]]},{"id":"609e0cc6.89d1ec","type":"ui_text","z":"7876f8d8.925cc8","group":"be909c24.47686","order":4,"width":6,"height":1,"name":"Building Humidity","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Building Humidity:  </i>","format":"<font color= {{msg.color}} > {{msg.payload}}% </font>","layout":"row-left","x":770,"y":460,"wires":[]},{"id":"110b9e09.2bbc0a","type":"function","z":"7876f8d8.925cc8","name":"","func":"msg.color=\"green\" \nif (msg.payload> 65)\n    { msg.color=\"red\" \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["609e0cc6.89d1ec"]]},{"id":"8ab6f216.b01598","type":"ui_text","z":"7876f8d8.925cc8","group":"be909c24.47686","order":3,"width":6,"height":1,"name":"Building Temp","label":"<i class=\"fa fa-thermometer-3\" aria-hidden=\"true\"> Building Temperature:   </i>","format":"<font color= {{msg.color}} > {{msg.payload}}ºC </font> ","layout":"row-left","x":760,"y":420,"wires":[]},{"id":"8938d250.35c12","type":"comment","z":"7876f8d8.925cc8","name":"Tanques","info":"","x":60,"y":560,"wires":[]},{"id":"28c6a9d8.c5cfd6","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba1.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1260,"wires":[[]]},{"id":"690360f9.a8bea","type":"debug","z":"7876f8d8.925cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":840,"wires":[]},{"id":"bda5c79.2be5ab8","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"tank","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":700,"wires":[[]]},{"id":"3fb8490.fc40cb6","type":"ui_dropdown","z":"7876f8d8.925cc8","name":"Select","label":"<i class=\"fa fa-hand-point-o\" aria-hidden=\"true\"></i>","tooltip":"","place":"Select Option","group":"fd38f7f0.6a76c","order":2,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Tank1","value":"tank1","type":"str"},{"label":"Tank2","value":"tank2","type":"str"},{"label":"Tank3","value":"tank3","type":"str"},{"label":"Tank4","value":"tank4","type":"str"},{"label":"Tank5","value":"tank5","type":"str"},{"label":"Tank6","value":"tank6","type":"str"},{"label":"Tank7","value":"tank7","type":"str"},{"label":"Tank8","value":"tank8","type":"str"},{"label":"Tank9","value":"tank9","type":"str"},{"label":"Tank10","value":"tank10","type":"str"}],"payload":"","topic":"","topicType":"str","x":120,"y":700,"wires":[["bda5c79.2be5ab8"]]},{"id":"3aecd229.30f746","type":"ui_button","z":"7876f8d8.925cc8","name":"","group":"fd38f7f0.6a76c","order":8,"width":4,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":800,"wires":[["d54c4c15.98e138"]]},{"id":"d54c4c15.98e138","type":"switch","z":"7876f8d8.925cc8","name":"","property":"tank","propertyType":"flow","rules":[{"t":"eq","v":"tank1","vt":"str"},{"t":"eq","v":"tank2","vt":"str"},{"t":"eq","v":"tank3","vt":"str"},{"t":"eq","v":"tank4","vt":"str"},{"t":"eq","v":"tank5","vt":"str"},{"t":"eq","v":"tank6","vt":"str"},{"t":"eq","v":"tank6","vt":"str"},{"t":"eq","v":"tank7","vt":"str"},{"t":"eq","v":"tank8","vt":"str"},{"t":"eq","v":"tank10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":250,"y":800,"wires":[["272fc3e3.7c6c2c"],["6bccf503.7f6efc"],["6b1d8e2b.4d5d18"],["e55afe8d.bb21a"],["c26188fb.577a2"],["76b84b0a.daad04"],["8076ccd2.df7468"],["666706a7.41f9c"],["8cac0d12.25e5f8"],["72316ec0.3a659"]]},{"id":"272fc3e3.7c6c2c","type":"function","z":"7876f8d8.925cc8","name":"tank1","func":"msg.payload = {\n    \ntemp: flow.get ('cuba1.t'),\nlit: flow.get ('cuba1.lit'),\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":740,"wires":[["a3464585.721c2"]]},{"id":"6bccf503.7f6efc","type":"function","z":"7876f8d8.925cc8","name":"tank2","func":"msg.payload = {\n    \ntemp: flow.get ('cuba2.t'),\nlit: flow.get ('cuba2.lit'),\n\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":780,"wires":[["a3464585.721c2"]]},{"id":"6b1d8e2b.4d5d18","type":"function","z":"7876f8d8.925cc8","name":"tank3","func":"msg.payload = {\n    \ntemp: flow.get ('cuba3.t'),\nlit: flow.get ('cuba3.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":820,"wires":[["a3464585.721c2"]]},{"id":"40cecc9b.0dc62c","type":"inject","z":"7876f8d8.925cc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["d54c4c15.98e138"]]},{"id":"71993c03.1e525c","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba2.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1340,"wires":[[]]},{"id":"2decf998.cdc066","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba2.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1380,"wires":[[]]},{"id":"70ae35ba.b97384","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba3.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1420,"wires":[[]]},{"id":"a7a63872.c1ef6","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba3.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1460,"wires":[[]]},{"id":"9a91ce70.641fe","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba4.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1500,"wires":[[]]},{"id":"3ab47f44.196928","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba4.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1540,"wires":[[]]},{"id":"628bad85.6c094c","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba5.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1580,"wires":[[]]},{"id":"3ce36bf2.f7e954","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba5.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1620,"wires":[[]]},{"id":"fe7b124.99b167","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba6.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1260,"wires":[[]]},{"id":"45843ac1.daed44","type":"function","z":"7876f8d8.925cc8","name":"","func":"msg.color=\"green\" \nif (msg.payload.temp > 4)\n    { msg.color=\"red\"}\n\n\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["6f33e76c.f4bc38"]]},{"id":"6f33e76c.f4bc38","type":"ui_text","z":"7876f8d8.925cc8","group":"fd38f7f0.6a76c","order":3,"width":6,"height":1,"name":"Milk Temp","label":"<i class=\"fa fa-thermometer-3\" aria-hidden=\"true\"> Milk Temp:   </i>","format":"<font color= {{msg.color}} > {{msg.payload.temp}}ºC </font> ","layout":"row-left","x":850,"y":740,"wires":[]},{"id":"e55afe8d.bb21a","type":"function","z":"7876f8d8.925cc8","name":"tank4","func":"msg.payload = {\n    \ntemp: flow.get ('cuba4.t'),\nlit: flow.get ('cuba4.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":860,"wires":[["a3464585.721c2"]]},{"id":"c26188fb.577a2","type":"function","z":"7876f8d8.925cc8","name":"tank5","func":"msg.payload = {\n    \ntemp: flow.get ('cuba5.t'),\nlit: flow.get ('cuba5.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":900,"wires":[["a3464585.721c2"]]},{"id":"76b84b0a.daad04","type":"function","z":"7876f8d8.925cc8","name":"tank6","func":"msg.payload = {\n    \ntemp: flow.get ('cuba6.t'),\nlit: flow.get ('cuba6.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":940,"wires":[["a3464585.721c2"]]},{"id":"8076ccd2.df7468","type":"function","z":"7876f8d8.925cc8","name":"tank7","func":"msg.payload = {\n    \ntemp: flow.get ('cuba7.t'),\nlit: flow.get ('cuba7.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":980,"wires":[["a3464585.721c2"]]},{"id":"666706a7.41f9c","type":"function","z":"7876f8d8.925cc8","name":"tank8","func":"msg.payload = {\n    \ntemp: flow.get ('cuba8.t'),\nlit: flow.get ('cuba8.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1020,"wires":[["a3464585.721c2"]]},{"id":"8cac0d12.25e5f8","type":"function","z":"7876f8d8.925cc8","name":"tank9","func":"msg.payload = {\n    \ntemp: flow.get ('cuba9.t'),\nlit: flow.get ('cuba9.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1060,"wires":[["a3464585.721c2"]]},{"id":"72316ec0.3a659","type":"function","z":"7876f8d8.925cc8","name":"tank10","func":"msg.payload = {\n    \ntemp: flow.get ('cuba10.t'),\nlit: flow.get ('cuba10.lit'),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1100,"wires":[["a3464585.721c2"]]},{"id":"d9a809a9.f6e25","type":"link in","z":"7876f8d8.925cc8","name":"","links":["a3464585.721c2"],"x":595,"y":740,"wires":[["45843ac1.daed44"]]},{"id":"a3464585.721c2","type":"link out","z":"7876f8d8.925cc8","name":"","links":["d9a809a9.f6e25","18ed6d33.e5e00b"],"x":535,"y":740,"wires":[]},{"id":"18ed6d33.e5e00b","type":"link in","z":"7876f8d8.925cc8","name":"","links":["a3464585.721c2"],"x":595,"y":780,"wires":[["3162159d.e92ada"]]},{"id":"3162159d.e92ada","type":"ui_gauge","z":"7876f8d8.925cc8","name":"","group":"fd38f7f0.6a76c","order":3,"width":0,"height":0,"gtype":"wave","title":"Milk in Barrel (%)","label":"%","format":"{{msg.payload.lit}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":655,"y":780,"wires":[],"l":false},{"id":"2cac3b9b.885f9c","type":"comment","z":"7876f8d8.925cc8","name":"Setting Variables ","info":"","x":110,"y":1200,"wires":[]},{"id":"efff8718.bdd288","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":130,"y":120,"wires":[["171e6b34.b4dbe5"]]},{"id":"83b0d41.d9c7b28","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":130,"y":160,"wires":[["dcddcd2.77650b"]]},{"id":"171e6b34.b4dbe5","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["cc0892b3.d090b8"]]},{"id":"dcddcd2.77650b","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["469883eb.ff8124"]]},{"id":"cc0892b3.d090b8","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":120,"wires":[["239c2554.07522a"]]},{"id":"469883eb.ff8124","type":"function","z":"7876f8d8.925cc8","name":"Hum ","func":"msg.payload = msg.payload.values1.humidity;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["37e1cb16.16a30c"]]},{"id":"3735415d.047c2e","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":130,"y":420,"wires":[["65b92fb5.e0a0c8"]]},{"id":"6b523a4f.789a2c","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":130,"y":460,"wires":[["e2030bbb.e57408"]]},{"id":"65b92fb5.e0a0c8","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":420,"wires":[["98941e46.a68bb"]]},{"id":"e2030bbb.e57408","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":460,"wires":[["94696571.8cc888"]]},{"id":"98941e46.a68bb","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["cae37947.c508f"]]},{"id":"94696571.8cc888","type":"function","z":"7876f8d8.925cc8","name":"Hum ","func":"msg.payload = msg.payload.values1.humidity;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":460,"wires":[["110b9e09.2bbc0a"]]},{"id":"f94a4384.dda448","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1260,"wires":[["d9b565a8.ede778"]]},{"id":"9507b5a7.eaf678","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1260,"wires":[["28c6a9d8.c5cfd6"]]},{"id":"d9b565a8.ede778","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1260,"wires":[["9507b5a7.eaf678"]]},{"id":"39b56e6d.508d4a","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1260,"wires":[["bac3b42.30c6948"]]},{"id":"7d0589e9.da2648","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1260,"wires":[["fe7b124.99b167"]]},{"id":"bac3b42.30c6948","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1260,"wires":[["7d0589e9.da2648"]]},{"id":"5f3803e9.dc749c","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba7.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1340,"wires":[[]]},{"id":"a2361451.982ef","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba8.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1420,"wires":[[]]},{"id":"8753865f.bb0b9","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba9.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1500,"wires":[[]]},{"id":"fa8c8bb8.f4c61","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba10.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1580,"wires":[[]]},{"id":"9028f29f.631018","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba10.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1620,"wires":[[]]},{"id":"6d171feb.2946a8","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1340,"wires":[["7000a982.0e2c88"]]},{"id":"c790664c.9298d","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1340,"wires":[["5f3803e9.dc749c"]]},{"id":"7000a982.0e2c88","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1340,"wires":[["c790664c.9298d"]]},{"id":"ccc0b8c2.c5228","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1420,"wires":[["311c0a25.2446de"]]},{"id":"dcf773ce.ad448","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1420,"wires":[["a2361451.982ef"]]},{"id":"311c0a25.2446de","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1420,"wires":[["dcf773ce.ad448"]]},{"id":"e39e81de.17868","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1500,"wires":[["f3b0bece.820d48"]]},{"id":"8ebe5530.ba233","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1500,"wires":[["8753865f.bb0b9"]]},{"id":"f3b0bece.820d48","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1500,"wires":[["8ebe5530.ba233"]]},{"id":"70c922b8.860584","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1580,"wires":[["515717d3.c8b5d8"]]},{"id":"5f11fc5f.27d36c","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1580,"wires":[["fa8c8bb8.f4c61"]]},{"id":"515717d3.c8b5d8","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1580,"wires":[["5f11fc5f.27d36c"]]},{"id":"80fa7a19.8f8f18","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba1.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1300,"wires":[[]]},{"id":"e5cf0a94.644b9","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba6.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1300,"wires":[[]]},{"id":"943d90c5.941dc","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba7.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1380,"wires":[[]]},{"id":"5f4eea1c.99b1ec","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba8.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1460,"wires":[[]]},{"id":"565af4fe.fd298c","type":"change","z":"7876f8d8.925cc8","name":"","rules":[{"t":"set","p":"cuba9.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1540,"wires":[[]]},{"id":"8e3e732c.12419","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1340,"wires":[["4e254d72.42028c"]]},{"id":"272611b0.19731e","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1340,"wires":[["71993c03.1e525c"]]},{"id":"4e254d72.42028c","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1340,"wires":[["272611b0.19731e"]]},{"id":"2d7bcad7.dce0c6","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1420,"wires":[["32bb2978.3b47ae"]]},{"id":"c6e09bf1.d69a38","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1420,"wires":[["70ae35ba.b97384"]]},{"id":"32bb2978.3b47ae","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1420,"wires":[["c6e09bf1.d69a38"]]},{"id":"9bbd267d.7e2d2","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1500,"wires":[["342aeb79.e475e4"]]},{"id":"9036e3d2.e7587","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1500,"wires":[["9a91ce70.641fe"]]},{"id":"342aeb79.e475e4","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1500,"wires":[["9036e3d2.e7587"]]},{"id":"4c74b4e0.370b54","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1580,"wires":[["3a956994.73f4a6"]]},{"id":"d549977a.dfbbc","type":"function","z":"7876f8d8.925cc8","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1580,"wires":[["628bad85.6c094c"]]},{"id":"3a956994.73f4a6","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1580,"wires":[["d549977a.dfbbc"]]},{"id":"9fdc9976.e2c12","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1300,"wires":[["dfd608dc.b9d208"]]},{"id":"dfd608dc.b9d208","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1300,"wires":[[]]},{"id":"7a605411.57f24c","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1300,"wires":[["9fdc9976.e2c12"]]},{"id":"2c6e52dc.163786","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1380,"wires":[["b410111c.a21c88"]]},{"id":"b410111c.a21c88","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1380,"wires":[["2decf998.cdc066"]]},{"id":"1b64930.dccdaed","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1380,"wires":[["2c6e52dc.163786"]]},{"id":"1b5d845d.623fa4","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1460,"wires":[["81ab0727.3085c8"]]},{"id":"81ab0727.3085c8","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1460,"wires":[["a7a63872.c1ef6"]]},{"id":"15cbee5d.233aea","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1460,"wires":[["1b5d845d.623fa4"]]},{"id":"7d415131.afe288","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1540,"wires":[["dbbf5322.0cde18"]]},{"id":"dbbf5322.0cde18","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1540,"wires":[["3ab47f44.196928"]]},{"id":"c6fead6b.831f6","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1540,"wires":[["7d415131.afe288"]]},{"id":"40a23761.1aaf68","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1620,"wires":[["17d457df.0d46c"]]},{"id":"17d457df.0d46c","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1620,"wires":[["3ce36bf2.f7e954"]]},{"id":"fd7324a9.689ad","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":110,"y":1620,"wires":[["40a23761.1aaf68"]]},{"id":"f5a880.6e6bc78","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1300,"wires":[["b4de676d.1ef9e"]]},{"id":"b4de676d.1ef9e","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1300,"wires":[[]]},{"id":"f348ec70.04ca18","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1300,"wires":[["f5a880.6e6bc78"]]},{"id":"e62b95f1.d897b8","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1380,"wires":[["94b3d5f9.e21e88"]]},{"id":"94b3d5f9.e21e88","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1380,"wires":[[]]},{"id":"a2f99a1f.8a40f8","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1380,"wires":[["e62b95f1.d897b8"]]},{"id":"2672a838.0c2fd8","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1460,"wires":[["5315cb80.078d14"]]},{"id":"5315cb80.078d14","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1460,"wires":[[]]},{"id":"697c1fdb.3d8328","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1460,"wires":[["2672a838.0c2fd8"]]},{"id":"f3da1d48.f30748","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1540,"wires":[["5ddf0f89.a2581"]]},{"id":"5ddf0f89.a2581","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1540,"wires":[[]]},{"id":"45568daf.9132cc","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1540,"wires":[["f3da1d48.f30748"]]},{"id":"3c24bb46.098544","type":"json","z":"7876f8d8.925cc8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1620,"wires":[["ada83a16.af663"]]},{"id":"ada83a16.af663","type":"function","z":"7876f8d8.925cc8","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1620,"wires":[["9028f29f.631018"]]},{"id":"530f5ce0.1261bc","type":"mqtt in","z":"7876f8d8.925cc8","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","nl":false,"rap":false,"x":810,"y":1620,"wires":[["3c24bb46.098544"]]},{"id":"1e1e5b58.cb6255","type":"ui_group","name":"Offices","tab":"9bd0f3be.7646f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"be909c24.47686","type":"ui_group","name":"Building","tab":"9bd0f3be.7646f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd38f7f0.6a76c","type":"ui_group","name":"Barrels","tab":"9bd0f3be.7646f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"39198584.4bde5a","type":"mqtt-broker","name":"","broker":"linvirtualazure01.northeurope.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9bd0f3be.7646f8","type":"ui_tab","name":"Halter Building","icon":"dashboard","disabled":false,"hidden":false}]