flows_camionV9.json
[{"id":"d953adbb.82c13","type":"tab","label":"Truck","disabled":false,"info":""},{"id":"269f4214.d03c5e","type":"group","z":"d953adbb.82c13","name":"Draw Map and Route","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["1d043503.fda28b","1e39e44c.26e33c","f35545e0.ddd518","d6f0ac77.6205f","7c76dcb4.29d8a4","f542c4bf.947f78","8f42680d.5d26d8","601e1c04.a2b204","9fb6df72.b9afc","354045fd.4cb7ca","72cec2b3.3e4e7c"],"x":74,"y":279,"w":832,"h":262},{"id":"33f528c.9f46ad8","type":"group","z":"d953adbb.82c13","name":"Draw Map and Route","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["861ac6f4.e14488","4d4f1191.883fa","608bcf58.5c6f4","8a7444b.be719b8","7706e43e.ddaf7c","488f3960.b04168","25b217ec.da53f8","2e53f887.af6d48","29fa1245.0df78e","1a7af43c.8bbf4c","7bb16a90.e778e4"],"x":34,"y":1959,"w":832,"h":262},{"id":"844a4166.9fd4a","type":"group","z":"d953adbb.82c13","name":"Draw Map and Route","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["a93fcd9e.b842a","fd61b7a0.2af9d8","853541a3.50edd","7e575c0c.88d4a4","f19c0c16.0b3c1","a4511c57.8fc6","bf72ddd5.c05bd","31ec3456.6e049c","4b43478c.708f48","527fe509.fb81bc","85e80660.7d6e08"],"x":54,"y":859,"w":832,"h":262},{"id":"bb32e6f6.5d1158","type":"group","z":"d953adbb.82c13","name":"Draw Map and Route","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["177c50b4.d5df4f","84147c51.3123e","d3d3c681.a37418","831597aa.20f7b8","56bb740d.a35f4c","347175c4.8b87ca","6481060d.31ec48","24455aea.45bd26","8518438c.3365c","e87f4492.5b9ba8","de1e8f67.155f5"],"x":34,"y":2539,"w":832,"h":262},{"id":"dc46c47e.e07c68","type":"group","z":"d953adbb.82c13","name":"Draw Map and Route","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["c181cb60.f48428","404768bb.c08b78","43a5af85.82f3a","b07c2167.8d535","9d6cd0dd.cce32","261c3816.f3a1c8","ac07d42f.42bac8","a837aa44.afcf08","9b8a7d3f.d8784","da20a3d3.60ba","978a45ac.a9ecf8"],"x":34,"y":1399,"w":832,"h":262},{"id":"cb2801a2.d88cc","type":"mqtt in","z":"d953adbb.82c13","name":"","topic":"10:52:1C:5C:8E:20 HALTER/Truck","qos":"2","datatype":"json","broker":"57743a37.5d4924","nl":false,"rap":true,"rh":0,"x":200,"y":160,"wires":[["d9e5404a.84774"]]},{"id":"d9e5404a.84774","type":"function","z":"d953adbb.82c13","name":"Lectura Camión","func":"var test = msg.payload;\nt = {payload:test.values.t};\nt1 = flow.set(\"t\",t);\nl = {payload:test.values.l};\nl1 = flow.set(\"l\",l);\nGPSLAT = {payload:test.values.GPSLAT};\nGPSLAT1 = flow.set(\"GPSLAT\",GPSLAT);\nGPSLONG = {payload:test.values.GPSLONG};\nGPSLONG1 = flow.set(\"GPSLONG\",GPSLONG);\nreturn [t,l,GPSLAT,GPSLONG];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":160,"wires":[["f2fcacd7.4098","29a4ddf6.1dc962","2bb3fb45.c80dd4"],["16caf0c3.9f61df","682ad11a.f4ad4"],["53972b6a.79de54"],["55b3a7e.c860458"]]},{"id":"f2fcacd7.4098","type":"debug","z":"d953adbb.82c13","name":"Temperatura ºC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"8f5b3310.b5f28","type":"debug","z":"d953adbb.82c13","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":60,"wires":[]},{"id":"53972b6a.79de54","type":"debug","z":"d953adbb.82c13","name":"LAT GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"55b3a7e.c860458","type":"debug","z":"d953adbb.82c13","name":"LONG GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"199c3d1b.5d9493","type":"mqtt out","z":"d953adbb.82c13","name":"","topic":"10:52:1C:5C:8E:20 HALTER/test","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"57743a37.5d4924","x":440,"y":580,"wires":[]},{"id":"ef558a99.384328","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"qos","v":"0","vt":"num"},{"p":"retain","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"10:52:1C:5C:8E:20 HALTER/test","payload":"test","payloadType":"msg","x":140,"y":580,"wires":[["199c3d1b.5d9493"]]},{"id":"1d043503.fda28b","type":"ui_worldmap","z":"d953adbb.82c13","g":"269f4214.d03c5e","group":"69634959.3ad458","order":2,"width":0,"height":0,"name":"","lat":"41.47","lon":"2.28","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":780,"y":420,"wires":[]},{"id":"1e39e44c.26e33c","type":"ui_button","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"","group":"69634959.3ad458","order":1,"width":0,"height":0,"passthru":false,"label":"Navigation Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":190,"y":480,"wires":[["f35545e0.ddd518"]]},{"id":"f35545e0.ddd518","type":"function","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"Instructions","func":"var route = flow.get(\"Steps\") || [];\nvar step  = flow.get(\"current\") || 0;\nvar ID = flow.get(\"ID\");\nvar GPSLAT = flow.get(\"GPSLAT\");\nvar GPSLONG = flow.get(\"GPSLONG\");\nvar t = flow.get(\"t\");\nvar l = flow.get(\"l\");\nvar msg1 = {};\n\n\nmsg.payload = {};\n \n    msg.payload.name = \"Camion\";\n    msg.payload.layer = \"route\";\n    msg.payload.tooltip  = \"Camion \" + ID + ' Temp. (ºC): ' + t.payload;\n    msg.payload.lat = GPSLAT.payload;\n    //msg.payload.lat = 41.4752;\n    msg.payload.lon = GPSLONG.payload;\n    //msg.payload.lon = 2.280605;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"maroon\"\n    msg1.instructions = \"Destino Mas Badosa\";\n    flow.set(\"current\", step+1 );\n    \nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":460,"wires":[["1d043503.fda28b","d6f0ac77.6205f","8f42680d.5d26d8"],["f542c4bf.947f78"]]},{"id":"d6f0ac77.6205f","type":"debug","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":480,"wires":[]},{"id":"7c76dcb4.29d8a4","type":"inject","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"Test","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":440,"wires":[["f35545e0.ddd518"]]},{"id":"f542c4bf.947f78","type":"ui_text","z":"d953adbb.82c13","g":"269f4214.d03c5e","group":"69634959.3ad458","order":3,"width":0,"height":0,"name":"","label":"Instructions:","format":"{{msg.instructions}}","layout":"row-spread","x":610,"y":500,"wires":[]},{"id":"8f42680d.5d26d8","type":"worldmap-tracks","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"navigation","depth":"30","layer":"combined","smooth":false,"x":610,"y":400,"wires":[["1d043503.fda28b"]]},{"id":"601e1c04.a2b204","type":"delay","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":340,"wires":[["8f42680d.5d26d8"]]},{"id":"9fb6df72.b9afc","type":"change","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"Reset Map","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"name\":\"Camion\", \"deleted\":true }","tot":"json"},{"t":"delete","p":"current","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["601e1c04.a2b204"]]},{"id":"354045fd.4cb7ca","type":"ui_button","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"","group":"69634959.3ad458","order":4,"width":0,"height":0,"passthru":false,"label":"Reset Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":320,"wires":[["9fb6df72.b9afc"]]},{"id":"72cec2b3.3e4e7c","type":"inject","z":"d953adbb.82c13","g":"269f4214.d03c5e","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":360,"wires":[["9fb6df72.b9afc"]]},{"id":"7181d3e2.e25a0c","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2456-FCM","payloadType":"str","x":540,"y":60,"wires":[["6b8fcdb8.6cad54"]]},{"id":"6b8fcdb8.6cad54","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"ID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":60,"wires":[["8f5b3310.b5f28"]]},{"id":"29a4ddf6.1dc962","type":"ui_text","z":"d953adbb.82c13","group":"69634959.3ad458","order":5,"width":0,"height":0,"name":"Temperatura","label":"Temperatura (ºC)","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":100,"wires":[]},{"id":"ab4bb026.82674","type":"ui_gauge","z":"d953adbb.82c13","name":"","group":"69634959.3ad458","order":7,"width":0,"height":0,"gtype":"wave","title":"Nivel de leche","label":"(%)","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":120,"wires":[]},{"id":"c8e9e6e.eb38318","type":"debug","z":"d953adbb.82c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":160,"wires":[]},{"id":"961df760.bb0e48","type":"ui_text","z":"d953adbb.82c13","group":"69634959.3ad458","order":6,"width":0,"height":0,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.status_temp}} (ºC)","layout":"row-center","x":1290,"y":200,"wires":[]},{"id":"c1ed0433.a8a838","type":"ui_text","z":"d953adbb.82c13","group":"69634959.3ad458","order":9,"width":6,"height":2,"name":"Estado mantenimiento","label":"<i class=\"fa fa-road\"></i>","format":"Estado camión: {{msg.payload.status_revision}}","layout":"row-spread","x":1320,"y":240,"wires":[]},{"id":"ab5f26a.f98b8d8","type":"ui_media","z":"d953adbb.82c13","group":"69634959.3ad458","name":"Foto Camión","width":0,"height":0,"order":10,"category":"camion","file":"trasnporte-de-la-leche-1.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1290,"y":280,"wires":[[]]},{"id":"35def991.b3fc36","type":"function","z":"d953adbb.82c13","name":"Transf. L to %","func":"var l = flow.get(\"l\");\nvar capacidad = 10000;\nmsg.payload = {};\nmsg.payload = ((l.payload/capacidad)*100).toFixed(2);; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":140,"wires":[["ab4bb026.82674","e7391618.59ffd8"]]},{"id":"16caf0c3.9f61df","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"capacidad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":140,"wires":[["35def991.b3fc36"]]},{"id":"e7391618.59ffd8","type":"debug","z":"d953adbb.82c13","name":"Capacidad (%)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":80,"wires":[]},{"id":"682ad11a.f4ad4","type":"debug","z":"d953adbb.82c13","name":"Capacidad (L)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"7b404780.894f18","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":130,"y":720,"wires":[["5c88545a.5a194c"]]},{"id":"5c88545a.5a194c","type":"function","z":"d953adbb.82c13","name":"Simulación Camion","func":"var minTemp = 24;\nvar maxTemp = 32;\nvar temp = Math.floor(Math.random()*(maxTemp-minTemp+1)+minTemp);\n\nvar minLitrosPorc = 3000;\nvar maxLitrosPorc = 5000;\nvar LitrosPorc = Math.floor(Math.random()*(maxLitrosPorc-minLitrosPorc+1)+minLitrosPorc);\n\n\nvar simulacion = \n{\n    ID2:\"Camion 8764-FCM\",\n    t2: temp,\n    l2: LitrosPorc,\n    GPSLAT2:42.0600 + Math.random() * 0.03, \n    GPSLONG2:2.9018 + Math.random() * 0.01,\n}\n\n\nmsg.payload = simulacion;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":720,"wires":[["becfb248.15526"]]},{"id":"becfb248.15526","type":"function","z":"d953adbb.82c13","name":"","func":"var test = msg.payload;\n\nID2 = {payload:test.ID2};\nID22 = flow.set(\"ID2\",ID2);\nt2 = {payload:test.t2};\nt22 = flow.set(\"t2\",t2);\nl2 = {payload:test.l2};\nl22 = flow.set(\"l2\",l2);\nGPSLAT2 = {payload:test.GPSLAT2};\nGPSLAT22 = flow.set(\"GPSLAT2\",GPSLAT2);\nGPSLONG2 = {payload:test.GPSLONG2};\nGPSLONG22 = flow.set(\"GPSLONG2\",GPSLONG2);\nreturn [ID2,t2,l2,GPSLAT2,GPSLONG2];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["4558dcd7.af0754"],["74dff3fd.b7ceec","3ed683ed.64d3ac","bde48ae2.d70558"],["215ccc95.38fb14","8c756f65.1cddc"],["d54511d7.9a811"],["70e3530a.85058c"]]},{"id":"4558dcd7.af0754","type":"debug","z":"d953adbb.82c13","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":660,"wires":[]},{"id":"74dff3fd.b7ceec","type":"debug","z":"d953adbb.82c13","name":"Temperatura (ºC)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":700,"wires":[]},{"id":"215ccc95.38fb14","type":"debug","z":"d953adbb.82c13","name":"Capacidad (L)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":740,"wires":[]},{"id":"d54511d7.9a811","type":"debug","z":"d953adbb.82c13","name":"LAT GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":780,"wires":[]},{"id":"70e3530a.85058c","type":"debug","z":"d953adbb.82c13","name":"LONG GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":820,"wires":[]},{"id":"602081ab.14a84","type":"function","z":"d953adbb.82c13","name":"Transf. L to %","func":"var l2 = flow.get(\"l2\");\nvar capacidad2 = 5000;\nvar capacidad_porc = 0;\ncapacidad_porc = ((l2.payload/capacidad2)*100).toFixed(2);\nmsg.payload = capacidad_porc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":740,"wires":[["d0d1379f.01ebc8"]]},{"id":"3ed683ed.64d3ac","type":"ui_text","z":"d953adbb.82c13","group":"88327683.73eb68","order":5,"width":0,"height":0,"name":"Temperatura","label":"Temperatura (ºC)","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":700,"wires":[]},{"id":"8c756f65.1cddc","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"capacidad2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":740,"wires":[["602081ab.14a84"]]},{"id":"d0d1379f.01ebc8","type":"ui_gauge","z":"d953adbb.82c13","name":"","group":"88327683.73eb68","order":7,"width":0,"height":0,"gtype":"wave","title":"Nivel de leche","label":"(%)","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":740,"wires":[]},{"id":"9ce81090.b522","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"var min = 80000;\nvar max = 3429;\nvar lifetruck = 480000;\nvar x = Math.floor(Math.random()*(max-min+1)+min);\nvar msg2 = {};\n\n\nif (x < 40000) {\n   msg2.payload = \"<font color=\\\"green\\\">\" + \"Camión ok\";\n} else {\n   msg2.payload =  \"Aviso de revisión \" +\n  \"<font color=\\\"purple\\\">\" + x  + \"<font color=\\\"black\\\">\" + \" km\" + \"\\<br>\" ;\n   msg2.payload += \"\\<br>\" +  \"Vida restante: \" + \"<font color=\\\"green\\\">\"  +\n   (lifetruck - x) + \"<font color=\\\"black\\\">\"  +\" km\";\n}\n\n\nmsg.payload = {\n    status_revision: msg2.payload,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":800,"wires":[["db5bc51.a4bf638","45a27342.4956ac"]]},{"id":"9fbbefeb.42aba","type":"ui_text","z":"d953adbb.82c13","group":"88327683.73eb68","order":6,"width":0,"height":0,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.status_temp}} (ºC)","layout":"row-center","x":1330,"y":700,"wires":[]},{"id":"db5bc51.a4bf638","type":"ui_text","z":"d953adbb.82c13","group":"88327683.73eb68","order":9,"width":6,"height":2,"name":"Estado mantenimiento","label":"<i class=\"fa fa-road\"></i>","format":"Estado camión: {{msg.payload.status_revision}}","layout":"row-spread","x":1340,"y":800,"wires":[]},{"id":"45a27342.4956ac","type":"ui_media","z":"d953adbb.82c13","group":"88327683.73eb68","name":"Foto Camión","width":0,"height":0,"order":10,"category":"camion2","file":"cisternas-sobre-camion-recogida-leche-transporte-liquidos-04.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1310,"y":840,"wires":[[]]},{"id":"d1182216.d93cc","type":"ui_button","z":"d953adbb.82c13","name":"","group":"69634959.3ad458","order":8,"width":0,"height":0,"passthru":false,"label":"Consulta mantenimiento","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":220,"wires":[["344824d4.c3a0cc"]]},{"id":"344824d4.c3a0cc","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"var min = 80000;\nvar max = 3429;\nvar lifetruck = 480000;\nvar x = Math.floor(Math.random()*(max-min+1)+min);\nvar status = \"\";\nvar msg1 = {};\nvar msg2 = {};\n\n\nmsg1.payload = {};\n\n\nif (x < 40000) {\n   msg2.payload = \"<font color=\\\"green\\\">\" + \"Camión ok\";\n} else {\n   msg2.payload =  \"Aviso de revisión \" +\n  \"<font color=\\\"purple\\\">\" + x  + \"<font color=\\\"black\\\">\" + \" km\" + \"\\<br>\" ;\n   msg2.payload += \"\\<br>\" +  \"Vida restante: \" + \"<font color=\\\"green\\\">\"  +\n   (lifetruck - x) + \"<font color=\\\"black\\\">\"  +\" km\";\n}\n\n\nmsg.payload = {\n    status_revision: msg2.payload,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":220,"wires":[["c1ed0433.a8a838","ab5f26a.f98b8d8"]]},{"id":"2bb3fb45.c80dd4","type":"function","z":"d953adbb.82c13","name":"Estado Cadena Frio","func":"var t = flow.get(\"t\");\nvar status = \"\";\nvar msg1 = {};\n\nmsg1.payload = {};\n\nif (t.payload < 30) {\n   msg1.payload = \"<font color=\\\"green\\\">\" + \"Estado ok\";\n} else {\n   msg1.payload = \"<font color=\\\"red\\\">\" + \"Interrumpida \" + t.payload ;\n}\n\n\nmsg.payload = {\n    status_temp: msg1.payload\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":100,"wires":[["961df760.bb0e48"]]},{"id":"bde48ae2.d70558","type":"function","z":"d953adbb.82c13","name":"Estado Cadena Frio","func":"var t2 = flow.get(\"t2\");\nvar status = \"\";\nvar msg1 = {};\n\nmsg1.payload = {};\n\nif (t2.payload < 30) {\n   msg1.payload = \"<font color=\\\"green\\\">\" + \"Estado ok\";\n} else {\n   msg1.payload = \"<font color=\\\"red\\\">\" + \"Interrumpida \" + t2.payload ;\n}\n\n\nmsg.payload = {\n    status_temp: msg1.payload\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":700,"wires":[["9fbbefeb.42aba"]]},{"id":"3164df9d.8a9d1","type":"ui_button","z":"d953adbb.82c13","name":"","group":"88327683.73eb68","order":8,"width":0,"height":0,"passthru":false,"label":"Consulta mantenimiento","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":800,"wires":[["9ce81090.b522"]]},{"id":"a93fcd9e.b842a","type":"ui_worldmap","z":"d953adbb.82c13","g":"844a4166.9fd4a","group":"88327683.73eb68","order":2,"width":0,"height":0,"name":"","lat":"41.47","lon":"2.28","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap2","x":770,"y":1000,"wires":[]},{"id":"fd61b7a0.2af9d8","type":"ui_button","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"","group":"88327683.73eb68","order":1,"width":0,"height":0,"passthru":false,"label":"Navigation Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":170,"y":1060,"wires":[["853541a3.50edd"]]},{"id":"853541a3.50edd","type":"function","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"Instructions","func":"var ID2 = flow.get(\"ID2\");\nvar GPSLAT2 = flow.get(\"GPSLAT2\");\nvar GPSLONG2 = flow.get(\"GPSLONG2\");\nvar t2 = flow.get(\"t2\");\nvar l2 = flow.get(\"l2\");\nvar msg1 = {};\n\n\nmsg.payload = {};\n \n    msg.payload.name = \"Camion\";\n    msg.payload.layer = \"route\";\n    msg.payload.tooltip  = \"Camion \" + ID2.payload + ' Temp. (ºC): ' + t2.payload;\n    msg.payload.lat = GPSLAT2.payload;\n    //msg.payload.lat = 41.4752;\n    msg.payload.lon = GPSLONG2.payload;\n    //msg.payload.lon = 2.280605;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"green\";\n    msg1.instructions = \"Destino Mas Colom\";\n    \nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1040,"wires":[["a93fcd9e.b842a","7e575c0c.88d4a4","bf72ddd5.c05bd"],["a4511c57.8fc6"]]},{"id":"7e575c0c.88d4a4","type":"debug","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1060,"wires":[]},{"id":"f19c0c16.0b3c1","type":"inject","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"Test","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":1020,"wires":[["853541a3.50edd"]]},{"id":"a4511c57.8fc6","type":"ui_text","z":"d953adbb.82c13","g":"844a4166.9fd4a","group":"88327683.73eb68","order":3,"width":0,"height":0,"name":"","label":"Instructions:","format":"{{msg.instructions}}","layout":"row-spread","x":590,"y":1080,"wires":[]},{"id":"bf72ddd5.c05bd","type":"worldmap-tracks","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"navigation","depth":"30","layer":"combined","smooth":false,"x":590,"y":980,"wires":[["a93fcd9e.b842a"]]},{"id":"31ec3456.6e049c","type":"delay","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":920,"wires":[["bf72ddd5.c05bd"]]},{"id":"4b43478c.708f48","type":"change","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"Reset Map","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"name\":\"Camion\", \"deleted\":true }","tot":"json"},{"t":"delete","p":"current","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["31ec3456.6e049c"]]},{"id":"527fe509.fb81bc","type":"ui_button","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"","group":"88327683.73eb68","order":4,"width":0,"height":0,"passthru":false,"label":"Reset Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":180,"y":900,"wires":[["4b43478c.708f48"]]},{"id":"85e80660.7d6e08","type":"inject","z":"d953adbb.82c13","g":"844a4166.9fd4a","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":940,"wires":[["4b43478c.708f48"]]},{"id":"1dc7922e.fad32e","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":110,"y":1260,"wires":[["f19f732b.12948"]]},{"id":"f19f732b.12948","type":"function","z":"d953adbb.82c13","name":"Simulación Camion","func":"var minTemp = 24;\nvar maxTemp = 32;\nvar temp = Math.floor(Math.random()*(maxTemp-minTemp+1)+minTemp);\n\nvar minLitrosPorc = 4000;\nvar maxLitrosPorc = 10000;\nvar LitrosPorc = Math.floor(Math.random()*(maxLitrosPorc-minLitrosPorc+1)+minLitrosPorc);\n\n\nvar simulacion = \n{\n    ID3:\"Camion 9264-FCM\",\n    t3: temp,\n    l3: LitrosPorc,\n    GPSLAT3:42.018725 + Math.random() * 0.02, \n    GPSLONG3:2.876303 + Math.random() * 0.005,\n}\n\n\nmsg.payload = simulacion;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1260,"wires":[["bdd628a3.5fa938"]]},{"id":"bdd628a3.5fa938","type":"function","z":"d953adbb.82c13","name":"","func":"var test = msg.payload;\n\nID3 = {payload:test.ID3};\nID33 = flow.set(\"ID3\",ID3);\nt3 = {payload:test.t3};\nt33 = flow.set(\"t3\",t3);\nl3 = {payload:test.l3};\nl33 = flow.set(\"l3\",l3);\nGPSLAT3 = {payload:test.GPSLAT3};\nGPSLAT33 = flow.set(\"GPSLAT3\",GPSLAT3);\nGPSLONG3 = {payload:test.GPSLONG3};\nGPSLONG33 = flow.set(\"GPSLONG3\",GPSLONG3);\nreturn [ID3,t3,l3,GPSLAT3,GPSLONG3];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1260,"wires":[["5aea3e2d.eb9d1"],["50a3df6f.eed0f","69237b7e.04d2d4","4e84e17e.4f81b"],["72303af1.818cc4","ece519a.37e98e8"],["ca4be5d1.e5d648"],["7cdbfb89.c41544"]]},{"id":"5aea3e2d.eb9d1","type":"debug","z":"d953adbb.82c13","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1200,"wires":[]},{"id":"50a3df6f.eed0f","type":"debug","z":"d953adbb.82c13","name":"Temperatura (ºC)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1240,"wires":[]},{"id":"72303af1.818cc4","type":"debug","z":"d953adbb.82c13","name":"Capacidad (L)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":1280,"wires":[]},{"id":"ca4be5d1.e5d648","type":"debug","z":"d953adbb.82c13","name":"LAT GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1320,"wires":[]},{"id":"7cdbfb89.c41544","type":"debug","z":"d953adbb.82c13","name":"LONG GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1360,"wires":[]},{"id":"ab4e103c.115c5","type":"function","z":"d953adbb.82c13","name":"Transf. L to %","func":"var l3 = flow.get(\"l3\");\nvar capacidad3 = 10000;\nvar capacidad_porc = 0;\ncapacidad_porc = ((l3.payload/capacidad3)*100).toFixed(2);\nmsg.payload = capacidad_porc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":1280,"wires":[["ba14f7bc.39c858"]]},{"id":"69237b7e.04d2d4","type":"ui_text","z":"d953adbb.82c13","group":"316bda4c.aa3ec6","order":5,"width":0,"height":0,"name":"Temperatura","label":"Temperatura (ºC)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1240,"wires":[]},{"id":"ece519a.37e98e8","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"capacidad3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1280,"wires":[["ab4e103c.115c5"]]},{"id":"ba14f7bc.39c858","type":"ui_gauge","z":"d953adbb.82c13","name":"","group":"316bda4c.aa3ec6","order":7,"width":0,"height":0,"gtype":"wave","title":"Nivel de leche","label":"(%)","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1300,"y":1280,"wires":[]},{"id":"7ad0cf9c.99972","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"var min = 80000;\nvar max = 3429;\nvar lifetruck = 480000;\nvar x = Math.floor(Math.random()*(max-min+1)+min);\nvar msg2 = {};\n\n\nif (x < 40000) {\n   msg2.payload = \"<font color=\\\"green\\\">\" + \"Camión ok\";\n} else {\n   msg2.payload =  \"Aviso de revisión \" +\n  \"<font color=\\\"purple\\\">\" + x  + \"<font color=\\\"black\\\">\" + \" km\" + \"\\<br>\" ;\n   msg2.payload += \"\\<br>\" +  \"Vida restante: \" + \"<font color=\\\"green\\\">\"  +\n   (lifetruck - x) + \"<font color=\\\"black\\\">\"  +\" km\";\n}\n\n\nmsg.payload = {\n    status_revision: msg2.payload,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1340,"wires":[["8d72ca4e.d842f8","7d395042.3944a"]]},{"id":"d0908a20.d91468","type":"ui_text","z":"d953adbb.82c13","group":"316bda4c.aa3ec6","order":6,"width":0,"height":0,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.status_temp}} (ºC)","layout":"row-center","x":1310,"y":1240,"wires":[]},{"id":"8d72ca4e.d842f8","type":"ui_text","z":"d953adbb.82c13","group":"316bda4c.aa3ec6","order":9,"width":6,"height":2,"name":"Estado mantenimiento","label":"<i class=\"fa fa-road\"></i>","format":"Estado camión: {{msg.payload.status_revision}}","layout":"row-spread","x":1320,"y":1340,"wires":[]},{"id":"7d395042.3944a","type":"ui_media","z":"d953adbb.82c13","group":"316bda4c.aa3ec6","name":"Foto Camión","width":0,"height":0,"order":10,"category":"camion3","file":"camion_cisterna_y_cisternas-1-1080x675.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1290,"y":1380,"wires":[[]]},{"id":"4e84e17e.4f81b","type":"function","z":"d953adbb.82c13","name":"Estado Cadena Frio","func":"var t3 = flow.get(\"t3\");\nvar status = \"\";\nvar msg1 = {};\n\nmsg1.payload = {};\n\nif (t3.payload < 30) {\n   msg1.payload = \"<font color=\\\"green\\\">\" + \"Estado ok\";\n} else {\n   msg1.payload = \"<font color=\\\"red\\\">\" + \"Interrumpida \" + t3.payload ;\n}\n\n\nmsg.payload = {\n    status_temp: msg1.payload\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1240,"wires":[["d0908a20.d91468"]]},{"id":"ad9c353c.959f58","type":"ui_button","z":"d953adbb.82c13","name":"","group":"316bda4c.aa3ec6","order":8,"width":0,"height":0,"passthru":false,"label":"Consulta mantenimiento","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":1340,"wires":[["7ad0cf9c.99972"]]},{"id":"c181cb60.f48428","type":"ui_worldmap","z":"d953adbb.82c13","g":"dc46c47e.e07c68","group":"316bda4c.aa3ec6","order":2,"width":0,"height":0,"name":"","lat":"41.47","lon":"2.28","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap3","x":750,"y":1540,"wires":[]},{"id":"404768bb.c08b78","type":"ui_button","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"","group":"316bda4c.aa3ec6","order":1,"width":0,"height":0,"passthru":false,"label":"Navigation Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":1600,"wires":[["43a5af85.82f3a"]]},{"id":"43a5af85.82f3a","type":"function","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"Instructions","func":"var ID3 = flow.get(\"ID3\");\nvar GPSLAT3 = flow.get(\"GPSLAT3\");\nvar GPSLONG3 = flow.get(\"GPSLONG3\");\nvar t3 = flow.get(\"t3\");\nvar l3 = flow.get(\"l3\");\nvar msg1 = {};\n\n\nmsg.payload = {};\n \n    msg.payload.name = \"Camion\";\n    msg.payload.layer = \"route\";\n    msg.payload.tooltip  = \"Camion \" + ID3.payload + ' Temp. (ºC): ' + t3.payload;\n    msg.payload.lat = GPSLAT3.payload;\n    //msg.payload.lat = 41.4752;\n    msg.payload.lon = GPSLONG3.payload;\n    //msg.payload.lon = 2.280605;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"#CB7310\";\n    msg1.instructions = \"Destino Can Siset\";\n    \nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1580,"wires":[["c181cb60.f48428","b07c2167.8d535","ac07d42f.42bac8"],["261c3816.f3a1c8"]]},{"id":"b07c2167.8d535","type":"debug","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1600,"wires":[]},{"id":"9d6cd0dd.cce32","type":"inject","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"Test","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":1560,"wires":[["43a5af85.82f3a"]]},{"id":"261c3816.f3a1c8","type":"ui_text","z":"d953adbb.82c13","g":"dc46c47e.e07c68","group":"316bda4c.aa3ec6","order":3,"width":0,"height":0,"name":"","label":"Instructions:","format":"{{msg.instructions}}","layout":"row-spread","x":570,"y":1620,"wires":[]},{"id":"ac07d42f.42bac8","type":"worldmap-tracks","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"navigation","depth":"30","layer":"combined","smooth":false,"x":570,"y":1520,"wires":[["c181cb60.f48428"]]},{"id":"a837aa44.afcf08","type":"delay","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":1460,"wires":[["ac07d42f.42bac8"]]},{"id":"9b8a7d3f.d8784","type":"change","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"Reset Map","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"name\":\"Camion\", \"deleted\":true }","tot":"json"},{"t":"delete","p":"current","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1460,"wires":[["a837aa44.afcf08"]]},{"id":"da20a3d3.60ba","type":"ui_button","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"","group":"316bda4c.aa3ec6","order":4,"width":0,"height":0,"passthru":false,"label":"Reset Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":1440,"wires":[["9b8a7d3f.d8784"]]},{"id":"978a45ac.a9ecf8","type":"inject","z":"d953adbb.82c13","g":"dc46c47e.e07c68","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":1480,"wires":[["9b8a7d3f.d8784"]]},{"id":"6a27fa42.d9d1e4","type":"comment","z":"d953adbb.82c13","name":"Camión ESP32","info":"","x":140,"y":60,"wires":[]},{"id":"eb72c8b.4c49f38","type":"comment","z":"d953adbb.82c13","name":"Camión 2 simulado","info":"","x":150,"y":660,"wires":[]},{"id":"75a47bed.3c20b4","type":"comment","z":"d953adbb.82c13","name":"Camión 3 simulado","info":"","x":130,"y":1160,"wires":[]},{"id":"3472a86a.e55208","type":"comment","z":"d953adbb.82c13","name":"Camión 4 simulado","info":"","x":130,"y":1720,"wires":[]},{"id":"72ac7139.ef487","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":110,"y":1820,"wires":[["aff9cc02.b84fc"]]},{"id":"aff9cc02.b84fc","type":"function","z":"d953adbb.82c13","name":"Simulación Camion","func":"var minTemp = 28;\nvar maxTemp = 28;\nvar temp = Math.floor(Math.random()*(maxTemp-minTemp+1)+minTemp);\n\nvar minLitrosPorc = 4900;\nvar maxLitrosPorc = 4900;\n//var LitrosPorc = Math.floor(Math.random()*(maxLitrosPorc-minLitrosPorc+1)+minLitrosPorc);\nvar LitrosPorc = 4900;\n\nvar simulacion = \n{\n    ID4:\"Camion 1184-FCM\",\n    t4: temp,\n    l4: LitrosPorc,\n    GPSLAT4:42.018722, \n    GPSLONG4:2.976306,\n}\n\n\nmsg.payload = simulacion;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1820,"wires":[["dee21a07.90b158"]]},{"id":"dee21a07.90b158","type":"function","z":"d953adbb.82c13","name":"","func":"var test = msg.payload;\n\nID4 = {payload:test.ID4};\nID44 = flow.set(\"ID4\",ID4);\nt4 = {payload:test.t4};\nt44 = flow.set(\"t4\",t4);\nl4 = {payload:test.l4};\nl44 = flow.set(\"l4\",l4);\nGPSLAT4 = {payload:test.GPSLAT4};\nGPSLAT44 = flow.set(\"GPSLAT4\",GPSLAT4);\nGPSLONG4 = {payload:test.GPSLONG4};\nGPSLONG44 = flow.set(\"GPSLONG4\",GPSLONG4);\nreturn [ID4,t4,l4,GPSLAT4,GPSLONG4];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1820,"wires":[["def72f5f.fa8c9"],["dbfd01b7.f46ca","84f91f71.79cde","b9f87700.69f898"],["d6ffefa8.1488","79322ec7.3dccd"],["ac298b42.aa9e38"],["a21621b1.deda"]]},{"id":"def72f5f.fa8c9","type":"debug","z":"d953adbb.82c13","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1760,"wires":[]},{"id":"dbfd01b7.f46ca","type":"debug","z":"d953adbb.82c13","name":"Temperatura (ºC)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1800,"wires":[]},{"id":"d6ffefa8.1488","type":"debug","z":"d953adbb.82c13","name":"Capacidad (L)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":1840,"wires":[]},{"id":"ac298b42.aa9e38","type":"debug","z":"d953adbb.82c13","name":"LAT GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1880,"wires":[]},{"id":"a21621b1.deda","type":"debug","z":"d953adbb.82c13","name":"LONG GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1920,"wires":[]},{"id":"9e904321.c14d8","type":"function","z":"d953adbb.82c13","name":"Transf. L to %","func":"var l4 = flow.get(\"l4\");\nvar capacidad4 = 5000;\nvar capacidad_porc = 0;\n//capacidad_porc = ((l4.payload/capacidad4)*100).toFixed(2);\ncapacidad_porc = ((l4.payload/capacidad4)*100).toFixed(2);\n\nmsg.payload = capacidad_porc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1840,"wires":[["10c03654.caf8ba"]]},{"id":"84f91f71.79cde","type":"ui_text","z":"d953adbb.82c13","group":"dc01fbcd.7049c8","order":5,"width":0,"height":0,"name":"Temperatura","label":"Temperatura (ºC)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1800,"wires":[]},{"id":"79322ec7.3dccd","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"capacidad4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1840,"wires":[["9e904321.c14d8"]]},{"id":"e45fc.8a071a048","type":"ui_gauge","z":"d953adbb.82c13","name":"","group":"dc01fbcd.7049c8","order":7,"width":0,"height":0,"gtype":"wave","title":"Nivel de leche","label":"(%)","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1740,"y":2000,"wires":[]},{"id":"fcfc2ee.d75acd","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"var min = 80000;\nvar max = 3429;\nvar lifetruck = 480000;\nvar x = Math.floor(Math.random()*(max-min+1)+min);\nvar msg2 = {};\n\n\nif (x < 40000) {\n   msg2.payload = \"<font color=\\\"green\\\">\" + \"Camión ok\";\n} else {\n   msg2.payload =  \"Aviso de revisión \" +\n  \"<font color=\\\"purple\\\">\" + x  + \"<font color=\\\"black\\\">\" + \" km\" + \"\\<br>\" ;\n   msg2.payload += \"\\<br>\" +  \"Vida restante: \" + \"<font color=\\\"green\\\">\"  +\n   (lifetruck - x) + \"<font color=\\\"black\\\">\"  +\" km\";\n}\n\n\nmsg.payload = {\n    status_revision: msg2.payload,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1900,"wires":[["9fa67f39.2625e","a64fec6c.1eb15"]]},{"id":"c0b5a08.89aa86","type":"ui_text","z":"d953adbb.82c13","group":"dc01fbcd.7049c8","order":6,"width":0,"height":0,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.status_temp}} (ºC)","layout":"row-center","x":1310,"y":1800,"wires":[]},{"id":"9fa67f39.2625e","type":"ui_text","z":"d953adbb.82c13","group":"dc01fbcd.7049c8","order":9,"width":6,"height":2,"name":"Estado mantenimiento","label":"<i class=\"fa fa-road\"></i>","format":"Estado camión: {{msg.payload.status_revision}}","layout":"row-spread","x":1320,"y":1900,"wires":[]},{"id":"a64fec6c.1eb15","type":"ui_media","z":"d953adbb.82c13","group":"dc01fbcd.7049c8","name":"Foto Camión","width":0,"height":0,"order":10,"category":"camion4","file":"camion_descarga.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1290,"y":1940,"wires":[[]]},{"id":"b9f87700.69f898","type":"function","z":"d953adbb.82c13","name":"Estado Cadena Frio","func":"var t4 = flow.get(\"t4\");\nvar status = \"\";\nvar msg1 = {};\n\nmsg1.payload = {};\n\nif (t4.payload < 30) {\n   msg1.payload = \"<font color=\\\"green\\\">\" + \"Estado ok\";\n} else {\n   msg1.payload = \"<font color=\\\"red\\\">\" + \"Interrumpida \" + t4.payload ;\n}\n\n\nmsg.payload = {\n    status_temp: msg1.payload\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1800,"wires":[["c0b5a08.89aa86"]]},{"id":"ff1645c1.448c68","type":"ui_button","z":"d953adbb.82c13","name":"","group":"dc01fbcd.7049c8","order":8,"width":0,"height":0,"passthru":false,"label":"Consulta mantenimiento","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":1900,"wires":[["fcfc2ee.d75acd"]]},{"id":"861ac6f4.e14488","type":"ui_worldmap","z":"d953adbb.82c13","g":"33f528c.9f46ad8","group":"dc01fbcd.7049c8","order":2,"width":0,"height":0,"name":"","lat":"41.47","lon":"2.28","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap4","x":750,"y":2100,"wires":[]},{"id":"4d4f1191.883fa","type":"ui_button","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"","group":"dc01fbcd.7049c8","order":1,"width":0,"height":0,"passthru":false,"label":"Navigation Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":2160,"wires":[["608bcf58.5c6f4"]]},{"id":"608bcf58.5c6f4","type":"function","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"Instructions","func":"var ID4 = flow.get(\"ID4\");\nvar GPSLAT4 = flow.get(\"GPSLAT4\");\nvar GPSLONG4 = flow.get(\"GPSLONG4\");\nvar t4 = flow.get(\"t4\");\nvar l4 = flow.get(\"l4\");\nvar msg1 = {};\n\n\nmsg.payload = {};\n \n    msg.payload.name = \"Camion\";\n    msg.payload.layer = \"route\";\n    msg.payload.tooltip  = \"Camion \" + ID4.payload + ' Temp. (ºC): ' + t4.payload;\n    msg.payload.lat = GPSLAT4.payload;\n    //msg.payload.lat = 41.4752;\n    msg.payload.lon = GPSLONG4.payload;\n    //msg.payload.lon = 2.280605;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"#F408E9\";\n    msg1.instructions = \"<font color=\\\"blue\\\">\" + \"Descargando Can Siset\";\n    \nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2140,"wires":[["861ac6f4.e14488","8a7444b.be719b8","25b217ec.da53f8"],["488f3960.b04168"]]},{"id":"8a7444b.be719b8","type":"debug","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":2160,"wires":[]},{"id":"7706e43e.ddaf7c","type":"inject","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"Test","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":2120,"wires":[["608bcf58.5c6f4"]]},{"id":"488f3960.b04168","type":"ui_text","z":"d953adbb.82c13","g":"33f528c.9f46ad8","group":"dc01fbcd.7049c8","order":3,"width":0,"height":0,"name":"","label":"Instructions:","format":"{{msg.instructions}}","layout":"row-spread","x":570,"y":2180,"wires":[]},{"id":"25b217ec.da53f8","type":"worldmap-tracks","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"navigation","depth":"30","layer":"combined","smooth":false,"x":570,"y":2080,"wires":[["861ac6f4.e14488"]]},{"id":"2e53f887.af6d48","type":"delay","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":2020,"wires":[["25b217ec.da53f8"]]},{"id":"29fa1245.0df78e","type":"change","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"Reset Map","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"name\":\"Camion\", \"deleted\":true }","tot":"json"},{"t":"delete","p":"current","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2020,"wires":[["2e53f887.af6d48"]]},{"id":"1a7af43c.8bbf4c","type":"ui_button","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"","group":"dc01fbcd.7049c8","order":4,"width":0,"height":0,"passthru":false,"label":"Reset Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":2000,"wires":[["29fa1245.0df78e"]]},{"id":"7bb16a90.e778e4","type":"inject","z":"d953adbb.82c13","g":"33f528c.9f46ad8","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":2040,"wires":[["29fa1245.0df78e"]]},{"id":"10c03654.caf8ba","type":"while-loop","z":"d953adbb.82c13","name":"while-loop","condi":"msg.payload % 50 !== 0","limit":false,"limitTime":"","time":"wl10c03654caf8ba","timeType":"msg","x":1520,"y":1840,"wires":[["d9461d74.184a1"],["6efead4f.82c684"]]},{"id":"6efead4f.82c684","type":"change","z":"d953adbb.82c13","name":"msg.payload--","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload) -2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1915,"wires":[["d4b6227a.d46ce","871c6a61.c1e6c8","e45fc.8a071a048"]]},{"id":"871c6a61.c1e6c8","type":"debug","z":"d953adbb.82c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1725,"y":1960,"wires":[]},{"id":"d4b6227a.d46ce","type":"delay","z":"d953adbb.82c13","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1725,"y":1915,"wires":[["10c03654.caf8ba"]]},{"id":"f952cb55.f80288","type":"comment","z":"d953adbb.82c13","name":"msg.payload % 50 !== 0","info":"","x":1550,"y":1780,"wires":[]},{"id":"d9461d74.184a1","type":"debug","z":"d953adbb.82c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1840,"wires":[]},{"id":"9ffeda86.58aa08","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":110,"y":2400,"wires":[["fe08a6f5.b57048"]]},{"id":"fe08a6f5.b57048","type":"function","z":"d953adbb.82c13","name":"Simulación Camion","func":"var minTemp = 24;\nvar maxTemp = 32;\nvar temp = Math.floor(Math.random()*(maxTemp-minTemp+1)+minTemp);\n\nvar minLitrosPorc = 4500;\nvar maxLitrosPorc = 5000;\nvar LitrosPorc = Math.floor(Math.random()*(maxLitrosPorc-minLitrosPorc+1)+minLitrosPorc);\n\n\nvar simulacion = \n{\n    ID5:\"Camion 0407-FCM\",\n    t5: temp,\n    l5: LitrosPorc,\n    GPSLAT5:41.9865 + Math.random() * 0.01, \n    GPSLONG5:2.804317 + Math.random() * 0.009,\n}\n\n\nmsg.payload = simulacion;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":2400,"wires":[["cf175d5d.f30c7"]]},{"id":"cf175d5d.f30c7","type":"function","z":"d953adbb.82c13","name":"","func":"var test = msg.payload;\n\nID5 = {payload:test.ID5};\nID55 = flow.set(\"ID5\",ID5);\nt5 = {payload:test.t5};\nt55 = flow.set(\"t5\",t5);\nl5 = {payload:test.l5};\nl55 = flow.set(\"l5\",l5);\nGPSLAT5 = {payload:test.GPSLAT5};\nGPSLAT55 = flow.set(\"GPSLAT5\",GPSLAT5);\nGPSLONG5 = {payload:test.GPSLONG5};\nGPSLONG55 = flow.set(\"GPSLONG5\",GPSLONG5);\nreturn [ID5,t5,l5,GPSLAT5,GPSLONG5];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2400,"wires":[["2f33a03d.2952b"],["3d6f75bb.5a820a","8c7f84ac.6ebcb8","bf952a60.6b9c58"],["101aa005.7cdea","c3ca9cfc.9c51d"],["823f935f.12612"],["e8073ef4.5c81f"]]},{"id":"2f33a03d.2952b","type":"debug","z":"d953adbb.82c13","name":"ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":2340,"wires":[]},{"id":"3d6f75bb.5a820a","type":"debug","z":"d953adbb.82c13","name":"Temperatura (ºC)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":2380,"wires":[]},{"id":"101aa005.7cdea","type":"debug","z":"d953adbb.82c13","name":"Capacidad (L)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":2420,"wires":[]},{"id":"823f935f.12612","type":"debug","z":"d953adbb.82c13","name":"LAT GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":2460,"wires":[]},{"id":"e8073ef4.5c81f","type":"debug","z":"d953adbb.82c13","name":"LONG GPS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2500,"wires":[]},{"id":"318548b8.4a1b28","type":"function","z":"d953adbb.82c13","name":"Transf. L to %","func":"var l5 = flow.get(\"l5\");\nvar capacidad5 = 5000;\nvar capacidad_porc = 0;\ncapacidad_porc = ((l5.payload/capacidad5)*100).toFixed(2);\nmsg.payload = capacidad_porc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":2420,"wires":[["edcc1345.048de"]]},{"id":"8c7f84ac.6ebcb8","type":"ui_text","z":"d953adbb.82c13","group":"f885a0f0.17aa8","order":5,"width":0,"height":0,"name":"Temperatura","label":"Temperatura (ºC)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2380,"wires":[]},{"id":"c3ca9cfc.9c51d","type":"change","z":"d953adbb.82c13","name":"","rules":[{"t":"set","p":"capacidad5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2420,"wires":[["318548b8.4a1b28"]]},{"id":"edcc1345.048de","type":"ui_gauge","z":"d953adbb.82c13","name":"","group":"f885a0f0.17aa8","order":7,"width":0,"height":0,"gtype":"wave","title":"Nivel de leche","label":"(%)","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1300,"y":2420,"wires":[]},{"id":"2c661805.949ae8","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"var ID5 = flow.get(\"ID5\");\nvar GPSLAT5 = flow.get(\"GPSLAT5\");\nvar GPSLONG5 = flow.get(\"GPSLONG5\");\nvar t5 = flow.get(\"t5\");\nvar l5 = flow.get(\"l5\");\n\nvar msg2 = {};\n\n   msg2.payload =  \"Error de conexión:\";\n     msg2.payload += \"\\<br>\" +  \" LAT: \" + GPSLAT5.payload +\n   \"\\<br>\" + \"LONG: \" + GPSLONG5.payload + \"\\<br>\" + \" Temp. (ºC): \" +\n   t5.payload  + \"\\<br>\" + \"Fecha: \" + Date().toString();\n   \n\nmsg.payload = {\n    status_camion: msg2.payload,\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":2520,"wires":[["33484ba.d76bcb4","8cb471f8.f1a85","86330c7e.6d302","74f1a800.ac0ad8"]]},{"id":"73bfe364.b7520c","type":"ui_text","z":"d953adbb.82c13","group":"f885a0f0.17aa8","order":6,"width":0,"height":0,"name":"Cadena frio","label":"<i class=\"fa fa-snowflake-o\" aria-hidden=\"true\"></i>","format":"Cadena frio: {{msg.payload.status_temp}} (ºC)","layout":"row-center","x":1310,"y":2380,"wires":[]},{"id":"33484ba.d76bcb4","type":"ui_text","z":"d953adbb.82c13","group":"f885a0f0.17aa8","order":9,"width":6,"height":2,"name":"Estado mantenimiento","label":"<i class=\"fa fa-road\"></i>","format":"Estado camión: {{msg.payload.status_revision}}","layout":"row-spread","x":1320,"y":2480,"wires":[]},{"id":"8cb471f8.f1a85","type":"ui_media","z":"d953adbb.82c13","group":"f885a0f0.17aa8","name":"Foto Camión","width":0,"height":0,"order":10,"category":"camion5","file":"truck-2753255_960_720.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1290,"y":2520,"wires":[[]]},{"id":"bf952a60.6b9c58","type":"function","z":"d953adbb.82c13","name":"Estado Cadena Frio","func":"var t3 = flow.get(\"t3\");\nvar status = \"\";\nvar msg1 = {};\n\nmsg1.payload = {};\n\nif (t3.payload < 30) {\n   msg1.payload = \"<font color=\\\"green\\\">\" + \"Estado ok\";\n} else {\n   msg1.payload = \"<font color=\\\"red\\\">\" + \"Interrumpida \" + t3.payload ;\n}\n\n\nmsg.payload = {\n    status_temp: msg1.payload\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2380,"wires":[["73bfe364.b7520c"]]},{"id":"3586980e.1a2db8","type":"ui_button","z":"d953adbb.82c13","name":"","group":"f885a0f0.17aa8","order":8,"width":0,"height":0,"passthru":false,"label":"Envío email","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":850,"y":2480,"wires":[["2c661805.949ae8","3f25ee4.ee47212"]]},{"id":"f5b83cff.61dee","type":"comment","z":"d953adbb.82c13","name":"Camión 5 simulado","info":"","x":130,"y":2300,"wires":[]},{"id":"177c50b4.d5df4f","type":"ui_worldmap","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","group":"f885a0f0.17aa8","order":2,"width":0,"height":0,"name":"","lat":"41.47","lon":"2.28","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap5","x":750,"y":2680,"wires":[]},{"id":"84147c51.3123e","type":"ui_button","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"","group":"f885a0f0.17aa8","order":1,"width":0,"height":0,"passthru":false,"label":"Navigation Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":2740,"wires":[["d3d3c681.a37418"]]},{"id":"d3d3c681.a37418","type":"function","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"Instructions","func":"var ID5 = flow.get(\"ID5\");\nvar GPSLAT5 = flow.get(\"GPSLAT5\");\nvar GPSLONG5 = flow.get(\"GPSLONG5\");\nvar t5 = flow.get(\"t5\");\nvar l5 = flow.get(\"l5\");\nvar msg1 = {};\n\n\nmsg.payload = {};\n \n    msg.payload.name = \"Camion\";\n    msg.payload.layer = \"route\";\n    msg.payload.tooltip  = \"Camion \" + ID5.payload + ' Temp. (ºC): ' + t5.payload;\n    msg.payload.lat = GPSLAT5.payload;\n    //msg.payload.lat = 41.4752;\n    msg.payload.lon = GPSLONG5.payload;\n    //msg.payload.lon = 2.280605;\n    msg.payload.icon = \"fa-truck\";\n    msg.payload.iconColor = \"#051FF7\";\n    msg1.instructions = \"<font color=\\\"red\\\">\" + \"Pérdida de comunicación Mas Gener\";\n    \nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2720,"wires":[["177c50b4.d5df4f","831597aa.20f7b8","6481060d.31ec48"],["347175c4.8b87ca"]]},{"id":"831597aa.20f7b8","type":"debug","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":2740,"wires":[]},{"id":"56bb740d.a35f4c","type":"inject","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"Test","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":2700,"wires":[["d3d3c681.a37418"]]},{"id":"347175c4.8b87ca","type":"ui_text","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","group":"f885a0f0.17aa8","order":3,"width":0,"height":0,"name":"","label":"Instructions:","format":"{{msg.instructions}}","layout":"row-spread","x":570,"y":2760,"wires":[]},{"id":"6481060d.31ec48","type":"worldmap-tracks","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"navigation","depth":"30","layer":"combined","smooth":false,"x":570,"y":2660,"wires":[["177c50b4.d5df4f"]]},{"id":"24455aea.45bd26","type":"delay","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":2600,"wires":[["6481060d.31ec48"]]},{"id":"8518438c.3365c","type":"change","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"Reset Map","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"name\":\"Camion\", \"deleted\":true }","tot":"json"},{"t":"delete","p":"current","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2600,"wires":[["24455aea.45bd26"]]},{"id":"e87f4492.5b9ba8","type":"ui_button","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"","group":"f885a0f0.17aa8","order":4,"width":0,"height":0,"passthru":false,"label":"Reset Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":2580,"wires":[["8518438c.3365c"]]},{"id":"de1e8f67.155f5","type":"inject","z":"d953adbb.82c13","g":"bb32e6f6.5d1158","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":2620,"wires":[["8518438c.3365c"]]},{"id":"74f1a800.ac0ad8","type":"e-mail","z":"d953adbb.82c13","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"47334475S@cimupc.org","dname":"","x":1270,"y":2620,"wires":[]},{"id":"86330c7e.6d302","type":"debug","z":"d953adbb.82c13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":2580,"wires":[]},{"id":"3f25ee4.ee47212","type":"function","z":"d953adbb.82c13","name":"Estado Camión","func":"\nvar msg2 = {};\n\nmsg2.payload =  \"<font color=\\\"red\\\">\" + \"¡Alerta comunicación!\";\n  \nmsg.payload = {\n    status_revision: msg2.payload,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":2480,"wires":[["33484ba.d76bcb4"]]},{"id":"7a6d1b04.960324","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings_truck","payloadType":"str","x":180,"y":3040,"wires":[["dbadd20a.5ed5d"]]},{"id":"87a62c4d.45c4f","type":"template","z":"d953adbb.82c13","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":440,"y":3080,"wires":[["62ab203c.a290e"]]},{"id":"d7c73917.c20ba8","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings_truck","payloadType":"str","x":180,"y":3080,"wires":[["87a62c4d.45c4f"]]},{"id":"d9e99113.376f","type":"template","z":"d953adbb.82c13","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":420,"y":3120,"wires":[["62ab203c.a290e"]]},{"id":"a5401157.383cd","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings_truck","payloadType":"str","x":180,"y":3120,"wires":[["d9e99113.376f"]]},{"id":"62ab203c.a290e","type":"postgres","z":"d953adbb.82c13","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":800,"y":3040,"wires":[]},{"id":"bf07ada1.cba69","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_halter","payloadType":"str","x":140,"y":2920,"wires":[["ca788fe3.1cb8f"]]},{"id":"840ca720.8a17d8","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_halter","payloadType":"str","x":140,"y":2960,"wires":[["591a262f.833998"]]},{"id":"ca788fe3.1cb8f","type":"template","z":"d953adbb.82c13","name":"CREATE database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE database {{payload}};","output":"str","x":310,"y":2920,"wires":[["3411cf4f.b24c7"]]},{"id":"591a262f.833998","type":"template","z":"d953adbb.82c13","name":"DROP database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP database {{payload}};","output":"str","x":300,"y":2960,"wires":[["3411cf4f.b24c7"]]},{"id":"3411cf4f.b24c7","type":"postgres","z":"d953adbb.82c13","postgresdb":"2acb4702.a89208","name":"TimescaleDB - Database","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":770,"y":2920,"wires":[]},{"id":"171f9af5.116a95","type":"mqtt in","z":"d953adbb.82c13","name":"","topic":"10:52:1C:5C:8E:20 HALTER/Truck","qos":"2","datatype":"json","broker":"57743a37.5d4924","nl":false,"rap":true,"rh":0,"x":300,"y":3260,"wires":[["9e8d0c30.1256c"]]},{"id":"89b5d355.ed79","type":"comment","z":"d953adbb.82c13","name":"Save data","info":"","x":120,"y":3220,"wires":[]},{"id":"3e005b42.16bac4","type":"postgres","z":"d953adbb.82c13","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1140,"y":3260,"wires":[]},{"id":"b7556202.0a0e2","type":"template","z":"d953adbb.82c13","name":"INSERT INTO temp_readings_truck","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temp_readings_truck (time, id, temp) \nVALUES ('{{payload.time}}', '{{payload.id}}', {{payload.temp}});","output":"str","x":820,"y":3260,"wires":[["ce8d342c.9b06e8"]]},{"id":"9e8d0c30.1256c","type":"function","z":"d953adbb.82c13","name":"ISO Timestamp","func":"var ID = flow.get(\"ID\");\nvar t = flow.get(\"t\");\n\nmsg.payload.time = new Date()\nmsg.payload.time = new Date(msg.payload.time).toISOString();\nmsg.payload.id = \"Camion \" + ID;\nmsg.payload.temp = t.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":3260,"wires":[["b7556202.0a0e2"]]},{"id":"e7b08801.0d4c98","type":"function","z":"d953adbb.82c13","name":"ISO Timestamp","func":"var ID2 = flow.get(\"ID2\");\nvar t2 = flow.get(\"t2\");\n\nmsg.payload = new Date()\nmsg.payload.time = new Date(msg.payload).toISOString();\nmsg.payload.id = ID2.payload;\nmsg.payload.temp = t2.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":3340,"wires":[["b7556202.0a0e2"]]},{"id":"ce8d342c.9b06e8","type":"debug","z":"d953adbb.82c13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":3340,"wires":[]},{"id":"3536a551.6419da","type":"inject","z":"d953adbb.82c13","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":3340,"wires":[["e7b08801.0d4c98","1dcb8635.651b6a","2f905211.6c0b2e","4fc9828.349d97c"]]},{"id":"dbadd20a.5ed5d","type":"template","z":"d953adbb.82c13","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp    FLOAT           NOT NULL \n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":420,"y":3040,"wires":[["62ab203c.a290e"]]},{"id":"1dcb8635.651b6a","type":"function","z":"d953adbb.82c13","name":"ISO Timestamp","func":"var ID3 = flow.get(\"ID3\");\nvar t3 = flow.get(\"t3\");\n\nmsg.payload = new Date()\nmsg.payload.time = new Date(msg.payload).toISOString();\nmsg.payload.id = ID3.payload;\nmsg.payload.temp = t3.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":3380,"wires":[["b7556202.0a0e2"]]},{"id":"2f905211.6c0b2e","type":"function","z":"d953adbb.82c13","name":"ISO Timestamp","func":"var ID5 = flow.get(\"ID4\");\nvar t5 = flow.get(\"t5\");\n\nmsg.payload = new Date()\nmsg.payload.time = new Date(msg.payload).toISOString();\nmsg.payload.id = ID5.payload;\nmsg.payload.temp = t5.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":3420,"wires":[["b7556202.0a0e2"]]},{"id":"4fc9828.349d97c","type":"function","z":"d953adbb.82c13","name":"ISO Timestamp","func":"var ID5 = flow.get(\"ID5\");\nvar t5 = flow.get(\"t5\");\n\nmsg.payload = new Date()\nmsg.payload.time = new Date(msg.payload).toISOString();\nmsg.payload.id = ID5.payload;\nmsg.payload.temp = t5.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":3460,"wires":[["b7556202.0a0e2"]]},{"id":"b7b5c47b.433118","type":"comment","z":"d953adbb.82c13","name":"Configuration","info":"","x":130,"y":2860,"wires":[]},{"id":"57743a37.5d4924","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"69634959.3ad458","type":"ui_group","name":"2456-FCM","tab":"6ec1ba8c.f13e64","order":1,"disp":true,"width":"6","collapse":false},{"id":"88327683.73eb68","type":"ui_group","name":"8764-FCM","tab":"6ec1ba8c.f13e64","order":2,"disp":true,"width":"6","collapse":false},{"id":"316bda4c.aa3ec6","type":"ui_group","name":"9264-FCM","tab":"6ec1ba8c.f13e64","order":3,"disp":true,"width":"6","collapse":false},{"id":"dc01fbcd.7049c8","type":"ui_group","name":"1184-FCM","tab":"6ec1ba8c.f13e64","order":4,"disp":true,"width":"6","collapse":false},{"id":"f885a0f0.17aa8","type":"ui_group","name":"0407-FCM","tab":"6ec1ba8c.f13e64","order":5,"disp":true,"width":"6","collapse":false},{"id":"f3dcfae5.ad3e9","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"iiot_halter","ssl":false},{"id":"2acb4702.a89208","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"postgres","ssl":false},{"id":"6ec1ba8c.f13e64","type":"ui_tab","name":"Truck","icon":"dashboard","disabled":false,"hidden":false}]