Granjas/flows_vaca.json
[{"id":"327d8106.57cace","type":"tab","label":"Vaca","disabled":false,"info":""},{"id":"194b4866.731488","type":"mqtt in","z":"327d8106.57cace","d":true,"name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":2070,"y":80,"wires":[[]]},{"id":"50820546.44656c","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[["dbb648de.d0c928"]]},{"id":"cc35810c.2d9c3","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":330,"y":80,"wires":[["891ff194.eb3fa"]]},{"id":"fdec28c2.b9d998","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[[]]},{"id":"7295b887.257d78","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[[]]},{"id":"c52a3294.e2a0b","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[[]]},{"id":"85578466.4b53a8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[[]]},{"id":"d8af6d31.cd484","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca1.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[[]]},{"id":"a555a3f1.b5733","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["5add40cb.32d9"]]},{"id":"ad81eef.3b05d1","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"cow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[[]]},{"id":"db05545.6dceda8","type":"ui_dropdown","z":"327d8106.57cace","name":"Select","label":"<i class=\"fa fa-hand-point-o\" aria-hidden=\"true\"></i>","tooltip":"","place":"Select Option","group":"7d73d2b2.b1084c","order":2,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Vaca1","value":"vaca1","type":"str"},{"label":"Vaca2","value":"vaca2","type":"str"},{"label":"Vaca3","value":"vaca3","type":"str"}],"payload":"","topic":"","topicType":"str","x":100,"y":720,"wires":[["ad81eef.3b05d1"]]},{"id":"419bd48e.a59d4c","type":"ui_text","z":"327d8106.57cace","group":"7d73d2b2.b1084c","order":13,"width":6,"height":1,"name":"Temperature","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Temperature:</i>","format":"<font color= {{msg.color}} > {{msg.payload.temp}} ºC","layout":"row-left","x":830,"y":860,"wires":[]},{"id":"e0108d58.96449","type":"ui_text","z":"327d8106.57cace","group":"7d73d2b2.b1084c","order":9,"width":6,"height":1,"name":"Walked Distance","label":"<i class=\"fa fa-spinner\" aria-hidden=\"true\"></i> Walked Distance: ","format":"{{msg.payload.distance}} km","layout":"row-left","x":850,"y":820,"wires":[]},{"id":"e058a483.c702a8","type":"ui_button","z":"327d8106.57cace","name":"","group":"7d73d2b2.b1084c","order":8,"width":4,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":820,"wires":[["ce17cb9c.f1ace8"]]},{"id":"ce17cb9c.f1ace8","type":"switch","z":"327d8106.57cace","name":"","property":"cow","propertyType":"flow","rules":[{"t":"eq","v":"vaca1","vt":"str"},{"t":"eq","v":"vaca2","vt":"str"},{"t":"eq","v":"vaca3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":820,"wires":[["e544c41.2814438"],["629ebf7f.2edf4"],["b72db92c.e94b18"]]},{"id":"e544c41.2814438","type":"function","z":"327d8106.57cace","name":"Vaca1","func":"msg.payload = {\n    \ntemp: flow.get ('vaca1.temp'),\npulse: flow.get (\"vaca1.pulse\"),\ndistance: flow.get(\"vaca1.distance\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":760,"wires":[["2ee287de.13ddb8"]]},{"id":"2ee287de.13ddb8","type":"link out","z":"327d8106.57cace","name":"","links":["3bd2ac37.8d1d44"],"x":515,"y":800,"wires":[]},{"id":"3bd2ac37.8d1d44","type":"link in","z":"327d8106.57cace","name":"","links":["2ee287de.13ddb8","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":555,"y":800,"wires":[["294ebc79.d3eb44","8fcf8c1f.c2509","f116b611.0444c8"]]},{"id":"294ebc79.d3eb44","type":"ui_gauge","z":"327d8106.57cace","name":"Pulse","group":"7d73d2b2.b1084c","order":6,"width":6,"height":4,"gtype":"donut","title":"<i class=\"fa fa-heartbeat\" aria-hidden=\"true\"></i>","label":"beats/min","format":"{{msg.payload.pulse}}","min":"0","max":"80","colors":["#e32400","#ffb5af","#e32400"],"seg1":"70","seg2":"60","x":810,"y":780,"wires":[]},{"id":"620466e1.cefb68","type":"comment","z":"327d8106.57cace","name":"Cow Visuals","info":"","x":70,"y":680,"wires":[]},{"id":"464d181a.c98158","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":400,"wires":[[]]},{"id":"6b15e49f.4dfabc","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":560,"wires":[[]]},{"id":"8a28354f.5796b8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":600,"wires":[[]]},{"id":"15b22bea.0962d4","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[[]]},{"id":"6c7d89b5.5d0058","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[[]]},{"id":"c007fb22.5f04e8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca2.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[[]]},{"id":"6a88c58e.7b395c","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":340,"wires":[[]]},{"id":"e66a2899.e41ca8","type":"inject","z":"327d8106.57cace","d":true,"name":"LAT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"40.2459","payloadType":"str","x":2010,"y":140,"wires":[["981db0b.bd5ec5"]]},{"id":"981db0b.bd5ec5","type":"change","z":"327d8106.57cace","d":true,"name":"","rules":[{"t":"set","p":"vaca3.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":140,"wires":[[]]},{"id":"66541514.18cecc","type":"inject","z":"327d8106.57cace","d":true,"name":"LONG","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3.4209","payloadType":"str","x":2020,"y":180,"wires":[["177a0de.433abf2"]]},{"id":"177a0de.433abf2","type":"change","z":"327d8106.57cace","d":true,"name":"","rules":[{"t":"set","p":"vaca3.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":180,"wires":[[]]},{"id":"91ad6ded.8c29f","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":380,"wires":[[]]},{"id":"9e35441e.414d78","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":420,"wires":[[]]},{"id":"43e32a99.b225d4","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":460,"wires":[[]]},{"id":"629ebf7f.2edf4","type":"function","z":"327d8106.57cace","name":"Vaca2","func":"msg.payload = {\n    \ntemp: flow.get(\"vaca2.temp\"),\npulse: flow.get (\"vaca2.pulse\"),\ndistance: flow.get(\"vaca2.distance\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":800,"wires":[["2ee287de.13ddb8"]]},{"id":"b72db92c.e94b18","type":"function","z":"327d8106.57cace","name":"Vaca3","func":"msg.payload = {\n    \ntemp: flow.get(\"vaca3.temp\"),\npulse: flow.get (\"vaca3.pulse\"),\ndistance: flow.get(\"vaca3.distance\"),\n    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":840,"wires":[["2ee287de.13ddb8"]]},{"id":"6ba9317c.c9128","type":"comment","z":"327d8106.57cace","name":"Setting Parameters to determine Cow's health and creating alarms","info":"","x":240,"y":360,"wires":[]},{"id":"159d6393.1d6dcc","type":"comment","z":"327d8106.57cace","name":"Setting Cow Features","info":"","x":100,"y":40,"wires":[]},{"id":"b55d6597.1cb358","type":"comment","z":"327d8106.57cace","name":"Mapping farms & cows","info":"","x":160,"y":2040,"wires":[]},{"id":"10126562.9453eb","type":"inject","z":"327d8106.57cace","name":"read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":130,"y":2120,"wires":[["e59ef081.bda6b"]]},{"id":"e59ef081.bda6b","type":"file in","z":"327d8106.57cace","name":"farms","filename":"/Users/raiza/Desktop/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":2120,"wires":[["6e5fa738.3830a8"]]},{"id":"6e5fa738.3830a8","type":"xml","z":"327d8106.57cace","name":"","property":"payload","attr":"","chr":"","x":370,"y":2120,"wires":[["3b11f11.dc6990e"]]},{"id":"3b11f11.dc6990e","type":"function","z":"327d8106.57cace","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":2120,"wires":[[]]},{"id":"53879c7d.7e9db4","type":"ui_worldmap","z":"327d8106.57cace","group":"945d5fb7.11f9d","order":4,"width":"6","height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1020,"y":2260,"wires":[]},{"id":"ae17dffc.94d15","type":"switch","z":"327d8106.57cace","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":2180,"wires":[["874bb85c.ceebc8"]]},{"id":"cb5d386d.ceacd8","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":2240,"wires":[["5d3f889b.60e028"]]},{"id":"64ae8204.63ff7c","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":180,"y":2420,"wires":[["1173bc00.71e244"]]},{"id":"9ceecc66.9d55","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":180,"y":2460,"wires":[["1173bc00.71e244"]]},{"id":"23ca45b7.f1255a","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":180,"y":2380,"wires":[["1173bc00.71e244"]]},{"id":"a9d59a2e.38c328","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":170,"y":2540,"wires":[["1173bc00.71e244"]]},{"id":"4767fd9b.a96644","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":180,"y":2500,"wires":[["1173bc00.71e244"]]},{"id":"1173bc00.71e244","type":"function","z":"327d8106.57cace","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":460,"y":2420,"wires":[]},{"id":"2da7ccf8.399b64","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"granjas","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1640,"wires":[[]]},{"id":"3e4bc006.01071","type":"ui_dropdown","z":"327d8106.57cace","name":"Select","label":"","tooltip":"","place":"Select option","group":"d031ea72.6df598","order":3,"width":"5","height":1,"passthru":true,"multiple":false,"options":[{"label":"Mas Badosa","value":"mas_badosa","type":"str"},{"label":"Mas Colom","value":"mas_colom","type":"str"},{"label":"Can Siset","value":"can_siset","type":"str"},{"label":"Mas Almar","value":"mas_almar","type":"str"},{"label":"Mas Gener","value":"mas_gener","type":"str"}],"payload":"","topic":"","topicType":"str","x":90,"y":1640,"wires":[["2da7ccf8.399b64"]]},{"id":"972b3709.f738c8","type":"function","z":"327d8106.57cace","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":2180,"wires":[["53879c7d.7e9db4"]]},{"id":"874bb85c.ceebc8","type":"function","z":"327d8106.57cace","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"granjas\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2180,"wires":[["972b3709.f738c8","5d3f889b.60e028"]]},{"id":"5d3f889b.60e028","type":"function","z":"327d8106.57cace","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":2240,"wires":[["53879c7d.7e9db4"]]},{"id":"daf94201.3f469","type":"function","z":"327d8106.57cace","name":"Status Cow 1","func":"let temp = flow.get(\"vaca1.temp\")\nlet pulse = flow.get(\"vaca1.pulse\")\n\nflow.set(\"vaca1.status\", 'OK')\n\nif ((temp > 39) || (temp < 37.5)){\n    flow.set(\"vaca1.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca1.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":720,"wires":[[]]},{"id":"d110a2ad.db472","type":"comment","z":"327d8106.57cace","name":"Status ","info":"","x":1050,"y":680,"wires":[]},{"id":"139d5e31.d5d952","type":"function","z":"327d8106.57cace","name":"Status Cow 2","func":"let temp = flow.get(\"vaca2.temp\")\nlet pulse = flow.get(\"vaca2.pulse\")\n\nflow.set(\"vaca2.status\", 'OK')\n\nif ((temp > 25) || (temp < 38.5)){\n    flow.set(\"vaca2.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca2.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":760,"wires":[[]]},{"id":"7c2bd17d.d06d7","type":"function","z":"327d8106.57cace","name":"Status Cow 3","func":"let temp = flow.get(\"vaca3.temp\")\nlet pulse = flow.get(\"vaca3.pulse\")\n\nflow.set(\"vaca3.status\", 'OK')\n\nif ((temp > 25) || (temp < 38.5)){\n    flow.set(\"vaca3.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca3.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":800,"wires":[[]]},{"id":"fd94d724.474a78","type":"comment","z":"327d8106.57cace","name":"Cow Telegram Sender and through commands","info":"","x":1380,"y":680,"wires":[]},{"id":"85595ad4.3a7bc8","type":"function","z":"327d8106.57cace","name":"","func":"var alert1 = msg.status_vaca\nvar alert2 = 'Status classification: ' + alert1 ;\n\nmsg.payload.type = 'message';\nmsg.payload.content = alert2;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":720,"wires":[["11121122.499d1f"]]},{"id":"80872a2a.17d088","type":"debug","z":"327d8106.57cace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":820,"wires":[]},{"id":"16e8ec57.961f04","type":"function","z":"327d8106.57cace","name":"get chatId","func":"var first_name = msg.originalMessage.from.first_name\nvar last_name = msg.originalMessage.from.last_name\n\nvar helpMessageb = \"Hi, \" + first_name + \" \" + last_name + \"!\\r\\n\";\nhelpMessageb += \"Here are some functions you can test, try them all!\\r\\n\\n\"\nhelpMessageb += \"/help - shows this help message\\r\\n\";\nhelpMessageb += \"/weather - shows current weather\\r\\n\";\nhelpMessageb += \"/temp - shows current temp\\r\\n\";\nhelpMessageb += \"/cowt - shows current cow temp and pulse\\r\\n\";\nhelpMessageb = \"chatId: \" + msg.payload.chatId + \"\\r\\n\" ;\n\nmsg.payload.content = helpMessageb;\nmsg.status_vaca = flow.get(\"vaca1.status\")\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":720,"wires":[["85595ad4.3a7bc8"]],"outputLabels":["User has access"]},{"id":"1397a771.78f3c9","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":760,"wires":[["ce17cb9c.f1ace8"]]},{"id":"32c19c70.4aea44","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"badosa.h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1020,"wires":[[]]},{"id":"15442669.0ed77a","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"badosa.c","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[[]]},{"id":"abd40518.f785a8","type":"link out","z":"327d8106.57cace","name":"","links":["2bb2d92b.199796"],"x":195,"y":1860,"wires":[]},{"id":"2bb2d92b.199796","type":"link in","z":"327d8106.57cace","name":"","links":["abd40518.f785a8"],"x":355,"y":2240,"wires":[["874bb85c.ceebc8"]]},{"id":"8fcf8c1f.c2509","type":"function","z":"327d8106.57cace","name":"","func":"msg.color=\"green\" \nif ((msg.payload.temp > 39) || (msg.payload.temp < 37))\n    { msg.color=\"red\"}\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":860,"wires":[["419bd48e.a59d4c"]]},{"id":"6b57c99e.ea4598","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"colom.h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1140,"wires":[[]]},{"id":"3ebf25b5.0f659a","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"colom.c","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1280,"wires":[[]]},{"id":"367e0ac7.f71a16","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"siset.h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1060,"wires":[[]]},{"id":"dc0fb3a9.c121b","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"siset.c","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1360,"wires":[[]]},{"id":"9a6b36e0.9b89c8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"almar.h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1180,"wires":[[]]},{"id":"b1b9b5f0.086da8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"almar.c","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1380,"wires":[[]]},{"id":"dcfafbee.73df48","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"gener.h","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1100,"wires":[[]]},{"id":"3e03fca7.430464","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"gener.c","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1460,"wires":[[]]},{"id":"c2abee40.e285","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"badosa.l","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1300,"wires":[[]]},{"id":"2bbd2dae.fec522","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"colom.l","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1320,"wires":[[]]},{"id":"c8eed044.27df8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"siset.l","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1400,"wires":[[]]},{"id":"18abedf8.d81712","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"almar.l","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1420,"wires":[[]]},{"id":"81f3caa3.eb4a98","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"gener.l","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1500,"wires":[[]]},{"id":"9c859a0c.1f5e08","type":"debug","z":"327d8106.57cace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":2340,"wires":[]},{"id":"4cf48ea3.b8ac9","type":"worldmap in","z":"327d8106.57cace","name":"","path":"/map/farm1","events":"all","x":120,"y":2180,"wires":[["ae17dffc.94d15"]]},{"id":"cba13a20.c102b8","type":"switch","z":"327d8106.57cace","name":"","property":"granjas","propertyType":"flow","rules":[{"t":"eq","v":"mas_badosa","vt":"str"},{"t":"eq","v":"mas_colom","vt":"str"},{"t":"eq","v":"can_siset","vt":"str"},{"t":"eq","v":"mas_gener","vt":"str"},{"t":"eq","v":"mas_almar","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":230,"y":1780,"wires":[["45f827e0.631638"],["61f5563c.9fe638"],["6ecb81b3.8c94f"],["99b24bdb.6d5ab8"],["1c2e08b9.2628d7"]]},{"id":"45f827e0.631638","type":"function","z":"327d8106.57cace","name":"mas_badosa","func":"msg.payload = {\n    \nhum: flow.get ('badosa.h'),\ntemp: flow.get (\"badosa.t\"),\nlit: flow.get(\"badosa.l\"),\ncuba: flow.get(\"badosa.c\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1740,"wires":[["a9b6b850.360e58"]]},{"id":"a9b6b850.360e58","type":"link out","z":"327d8106.57cace","name":"","links":["d6433c74.45689"],"x":535,"y":1780,"wires":[]},{"id":"d6433c74.45689","type":"link in","z":"327d8106.57cace","name":"","links":["a9b6b850.360e58","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":575,"y":1780,"wires":[["ad8cbf45.b751d","37afc917.a581d6","c1df50cd.85cce","566a636d.ee19ec"]]},{"id":"61f5563c.9fe638","type":"function","z":"327d8106.57cace","name":"mas_colom","func":"msg.payload = {\n    \nhum: flow.get(\"colom.h\"),\ntemp: flow.get (\"colom.t\"),\nlit: flow.get(\"colom.l\"),\ncuba: flow.get(\"colom.c\"),    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1780,"wires":[["a9b6b850.360e58"]]},{"id":"6ecb81b3.8c94f","type":"function","z":"327d8106.57cace","name":"can_siset","func":"msg.payload = {\n    \nhum: flow.get(\"siset.h\"),\ntemp: flow.get (\"siset.t\"),\nlit: flow.get(\"siset.l\"),\ncuba: flow.get(\"siset.c\"),\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1820,"wires":[["a9b6b850.360e58"]]},{"id":"ad8cbf45.b751d","type":"function","z":"327d8106.57cace","name":"","func":"msg.color=\"green\" \n\n\nif (msg.payload.hum > 60.00)\n    { msg.color=\"red\"}   \n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1780,"wires":[["8761810b.48eef"]]},{"id":"d9bd4836.1a7148","type":"ui_button","z":"327d8106.57cace","name":"","group":"d031ea72.6df598","order":8,"width":4,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":1780,"wires":[["cba13a20.c102b8","abd40518.f785a8"]]},{"id":"99b24bdb.6d5ab8","type":"function","z":"327d8106.57cace","name":"mas_gener","func":"msg.payload = {\n    \nhum: flow.get(\"gener.h\"),\ntemp: flow.get (\"gener.t\"),\nlit: flow.get(\"gener.l\"),\ncuba: flow.get(\"gener.c\"),    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1860,"wires":[["a9b6b850.360e58"]]},{"id":"1c2e08b9.2628d7","type":"function","z":"327d8106.57cace","name":"mas_almar","func":"msg.payload = {\n    \nhum: flow.get(\"almar.h\"),\ntemp: flow.get (\"almar.t\"),\nlit: flow.get(\"almar.l\"),\ncuba: flow.get(\"almar.c\"),    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1900,"wires":[["a9b6b850.360e58"]]},{"id":"6bd787dd.2b3558","type":"http request","z":"327d8106.57cace","name":"api-openweathermap","method":"GET","ret":"txt","paytoqs":"query","url":"api.openweathermap.org/data/2.5/onecall?&exclude=minutely,hourly,daily,alerts","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1020,"wires":[["2101adbc.fb3652"]],"icon":"font-awesome/fa-sun-o"},{"id":"94d849c6.af2238","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"badosa.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1020,"wires":[[]]},{"id":"2101adbc.fb3652","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1020,"wires":[["ecfc4329.c0425","7f5304b4.c1cf0c"]]},{"id":"592b4dda.8cbb34","type":"inject","z":"327d8106.57cace","name":"check","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"appid\":\"70c95e3fdc158b01ffdaa92fd4b4b4e2\",\"lat\":41.910917,\"lon\":2.804306,\"units\":\"metric\"}","payloadType":"json","x":110,"y":1020,"wires":[["6bd787dd.2b3558"]]},{"id":"ecfc4329.c0425","type":"function","z":"327d8106.57cace","name":"Temp Forecast","func":"msg.payload = msg.payload.current.temp;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1020,"wires":[["94d849c6.af2238","88b2f87b.42a5b8","39830d0.a9daff4","eebf16cb.3c78b8","7ec8bb28.610e54","7b4158a1.d44ac8"]]},{"id":"88b2f87b.42a5b8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"colom.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1060,"wires":[[]]},{"id":"39830d0.a9daff4","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"siset.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1100,"wires":[[]]},{"id":"eebf16cb.3c78b8","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"gener.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1140,"wires":[[]]},{"id":"7ec8bb28.610e54","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"almar.t","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1180,"wires":[[]]},{"id":"e08cb0e2.161da","type":"comment","z":"327d8106.57cace","name":"Setting Variables ","info":"","x":80,"y":960,"wires":[]},{"id":"2a469b68.db78c4","type":"comment","z":"327d8106.57cace","name":"Outdoor Temp & Hum ","info":"","x":100,"y":920,"wires":[]},{"id":"89676e87.d0d95","type":"comment","z":"327d8106.57cace","name":"Milk tanks Temp & capacity","info":"","x":160,"y":1200,"wires":[]},{"id":"35a6612d.d9e47e","type":"ui_text","z":"327d8106.57cace","group":"d031ea72.6df598","order":13,"width":6,"height":1,"name":"Milk Temp","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Milk Temp:</i>","format":"<font color= {{msg.color}} > {{msg.payload.cuba}} ºC","layout":"row-left","x":850,"y":1820,"wires":[]},{"id":"37afc917.a581d6","type":"ui_gauge","z":"327d8106.57cace","name":"","group":"d031ea72.6df598","order":3,"width":0,"height":0,"gtype":"wave","title":"Milk in Barrel (%)","label":"%","format":"{{msg.payload.lit}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":795,"y":1860,"wires":[],"l":false},{"id":"8761810b.48eef","type":"ui_text","z":"327d8106.57cace","group":"945d5fb7.11f9d","order":13,"width":6,"height":1,"name":"Current Humidity","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Current Humidity:</i>","format":"<font color= {{msg.color}} > {{msg.payload.hum}} %","layout":"row-left","x":870,"y":1780,"wires":[]},{"id":"a2120626.161ae8","type":"ui_text","z":"327d8106.57cace","group":"945d5fb7.11f9d","order":13,"width":6,"height":1,"name":"Current Temp","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Current Temperature:</i>","format":"<font color= {{msg.color}} > {{msg.payload.temp}} ºC","layout":"row-left","x":860,"y":1740,"wires":[]},{"id":"7f5304b4.c1cf0c","type":"function","z":"327d8106.57cace","name":"Hum Forecast","func":"msg.payload= msg.payload.current.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1060,"wires":[["32c19c70.4aea44","367e0ac7.f71a16","dcfafbee.73df48","6b57c99e.ea4598","9a6b36e0.9b89c8"]]},{"id":"e8b2806b.ff26","type":"debug","z":"327d8106.57cace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1660,"wires":[]},{"id":"11dee70d.6c7149","type":"inject","z":"327d8106.57cace","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1680,"wires":[["cba13a20.c102b8"]]},{"id":"f116b611.0444c8","type":"function","z":"327d8106.57cace","name":"","func":"msg.color=\"green\" \n\n    \nif (msg.payload.distance !='3','4','5','6','7','8','9','10')\n    { msg.color=\"red\"}\n\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":820,"wires":[["e0108d58.96449"]]},{"id":"566a636d.ee19ec","type":"function","z":"327d8106.57cace","name":"","func":"msg.color=\"green\" \n\nif (msg.payload.temp > 31) \n    { msg.color=\"red\"}\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1740,"wires":[["a2120626.161ae8"]]},{"id":"c1df50cd.85cce","type":"function","z":"327d8106.57cace","name":"","func":"msg.color=\"green\" \n\n\n    \nif (msg.payload.cuba > 4)\n    { msg.color=\"red\"}\n    \n \n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1820,"wires":[["35a6612d.d9e47e"]]},{"id":"fe44d4d3.e51458","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":200,"wires":[["a555a3f1.b5733"]]},{"id":"5add40cb.32d9","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":200,"wires":[["d8af6d31.cd484"]]},{"id":"3150892c.614e46","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":330,"y":520,"wires":[["8288761e.750c98"]]},{"id":"bd2373ad.9ffb9","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":150,"y":520,"wires":[["3150892c.614e46"]]},{"id":"8288761e.750c98","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":520,"wires":[["c007fb22.5f04e8"]]},{"id":"49a340ec.c7121","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":460,"wires":[["8c37f6db.e62838"]]},{"id":"a82df6c6.651d68","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":460,"wires":[["49a340ec.c7121"]]},{"id":"8c37f6db.e62838","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":460,"wires":[["43e32a99.b225d4"]]},{"id":"e97f759a.e14fd8","type":"function","z":"327d8106.57cace","name":"Heartbeats","func":"msg.payload = msg.payload.values1.heart;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["c52a3294.e2a0b"]]},{"id":"fe133f36.b90a9","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["e97f759a.e14fd8"]]},{"id":"6d86c6f6.6788d8","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":120,"wires":[["fe133f36.b90a9"]]},{"id":"32526544.5d583a","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["c6c6470d.5e41f8"]]},{"id":"7206865c.320d88","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":160,"wires":[["32526544.5d583a"]]},{"id":"c6c6470d.5e41f8","type":"function","z":"327d8106.57cace","name":"Walking","func":"msg.payload = msg.payload.values1.walk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["85578466.4b53a8"]]},{"id":"bc6cdc11.9c214","type":"function","z":"327d8106.57cace","name":"Heartbeats","func":"msg.payload = msg.payload.values1.heart;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":440,"wires":[["15b22bea.0962d4"]]},{"id":"d4f0275c.e01248","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":290,"y":440,"wires":[["bc6cdc11.9c214"]]},{"id":"469dc05c.bb811","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":110,"y":440,"wires":[["d4f0275c.e01248"]]},{"id":"54bb918e.57c3c","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":290,"y":480,"wires":[["b8da6031.b9429"]]},{"id":"f4d8afce.09158","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":110,"y":480,"wires":[["54bb918e.57c3c"]]},{"id":"b8da6031.b9429","type":"function","z":"327d8106.57cace","name":"Walking","func":"msg.payload = msg.payload.values1.walk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["6c7d89b5.5d0058"]]},{"id":"6cbaa842.03c878","type":"function","z":"327d8106.57cace","name":"Heartbeats","func":"msg.payload = msg.payload.values1.heart;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":380,"wires":[["91ad6ded.8c29f"]]},{"id":"e5e5ee63.24b28","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":380,"wires":[["6cbaa842.03c878"]]},{"id":"700c9ff3.372de","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":380,"wires":[["e5e5ee63.24b28"]]},{"id":"4f14a7b6.ac24e8","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":420,"wires":[["fa89b993.687c88"]]},{"id":"7c2c8486.ed1a2c","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":420,"wires":[["4f14a7b6.ac24e8"]]},{"id":"fa89b993.687c88","type":"function","z":"327d8106.57cace","name":"Walking","func":"msg.payload = msg.payload.values1.walk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":420,"wires":[["9e35441e.414d78"]]},{"id":"3f78f774.7b9918","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":500,"wires":[[]]},{"id":"5fa37d35.44fec4","type":"change","z":"327d8106.57cace","name":"","rules":[{"t":"set","p":"vaca3.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":540,"wires":[[]]},{"id":"1c8682f9.9deafd","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":80,"wires":[["cc35810c.2d9c3"]]},{"id":"891ff194.eb3fa","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":80,"wires":[["50820546.44656c"]]},{"id":"8b6cb03e.5fa6c","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":400,"wires":[["81989af7.76aca8"]]},{"id":"3d75dc7e.cfc3b4","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":110,"y":400,"wires":[["8b6cb03e.5fa6c"]]},{"id":"81989af7.76aca8","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":400,"wires":[["464d181a.c98158"]]},{"id":"b0d7a57c.51ccd8","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":340,"wires":[["d6f7201.eb760e"]]},{"id":"bdc4a319.59439","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":340,"wires":[["b0d7a57c.51ccd8"]]},{"id":"d6f7201.eb760e","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":340,"wires":[["6a88c58e.7b395c"]]},{"id":"b4a54208.68f14","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1260,"wires":[["24464d3b.f3fda2"]]},{"id":"24464d3b.f3fda2","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1260,"wires":[["15442669.0ed77a"]]},{"id":"ce32f6bd.d530e8","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":1260,"wires":[["b4a54208.68f14"]]},{"id":"2ae6a381.f9f36c","type":"mqtt in","z":"327d8106.57cace","d":true,"name":"","topic":"/Camion1","qos":"2","datatype":"auto","broker":"f5012362.e6682","x":2000,"y":40,"wires":[[]]},{"id":"8b5738df.7ae7c8","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":1300,"wires":[["c01b76e4.282868"]]},{"id":"3ab83736.d940e8","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1300,"wires":[["c2abee40.e285"]]},{"id":"c01b76e4.282868","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1300,"wires":[["3ab83736.d940e8"]]},{"id":"f2372211.36062","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":1280,"wires":[["5939a0d6.d2a07"]]},{"id":"5939a0d6.d2a07","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1280,"wires":[["3ebf25b5.0f659a"]]},{"id":"1c3e056f.45666b","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":890,"y":1280,"wires":[["f2372211.36062"]]},{"id":"866d3787.4ef438","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":890,"y":1320,"wires":[["a59958c5.690578"]]},{"id":"417343b6.ff055c","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1320,"wires":[["2bbd2dae.fec522"]]},{"id":"a59958c5.690578","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":1320,"wires":[["417343b6.ff055c"]]},{"id":"82be3acd.25e988","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":1380,"wires":[["442404c6.c2c6ec"]]},{"id":"442404c6.c2c6ec","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1380,"wires":[["b1b9b5f0.086da8"]]},{"id":"bf03aef3.74e39","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":890,"y":1380,"wires":[["82be3acd.25e988"]]},{"id":"9fd946ca.5d4938","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":890,"y":1420,"wires":[["729ebfc6.c1206"]]},{"id":"e5e6e5d.facde18","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1420,"wires":[["18abedf8.d81712"]]},{"id":"729ebfc6.c1206","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":1420,"wires":[["e5e6e5d.facde18"]]},{"id":"51d9885a.e0f5e8","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1360,"wires":[["d80ae5f6.c37cc8"]]},{"id":"d80ae5f6.c37cc8","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1360,"wires":[["dc0fb3a9.c121b"]]},{"id":"389fcd63.612852","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":150,"y":1360,"wires":[["51d9885a.e0f5e8"]]},{"id":"a9ae3292.cd265","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":150,"y":1400,"wires":[["846f3ead.e125f"]]},{"id":"7b73afd5.08bd7","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1400,"wires":[["c8eed044.27df8"]]},{"id":"846f3ead.e125f","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1400,"wires":[["7b73afd5.08bd7"]]},{"id":"a9996ead.61678","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1460,"wires":[["fadc15ae.59cad8"]]},{"id":"fadc15ae.59cad8","type":"function","z":"327d8106.57cace","name":"Temp ","func":"msg.payload = msg.payload.values1.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1460,"wires":[["3e03fca7.430464"]]},{"id":"2c41e4fe.dd2adc","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Granja","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":150,"y":1460,"wires":[["a9996ead.61678"]]},{"id":"acb186f4.ab8838","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":150,"y":1500,"wires":[["aba18354.05b45"]]},{"id":"aec8ae5c.c24f5","type":"function","z":"327d8106.57cace","name":"Milk L","func":"msg.payload = msg.payload.values1.milk;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1500,"wires":[["81f3caa3.eb4a98"]]},{"id":"aba18354.05b45","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1500,"wires":[["aec8ae5c.c24f5"]]},{"id":"bba09d7d.d7c53","type":"function","z":"327d8106.57cace","name":"Long","func":"msg.payload = msg.payload.values1.long;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":240,"wires":[["fdec28c2.b9d998"]]},{"id":"cf935dbf.55041","type":"function","z":"327d8106.57cace","name":"Lat","func":"msg.payload = msg.payload.values1.lat;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":280,"wires":[["7295b887.257d78"]]},{"id":"67f81228.2fd97c","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["cf935dbf.55041"]]},{"id":"704f17b0.d7c8e8","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":280,"wires":[["67f81228.2fd97c"]]},{"id":"282a1c80.11fa34","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":240,"wires":[["bba09d7d.d7c53"]]},{"id":"8cf7c7a9.98c8e8","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":240,"wires":[["282a1c80.11fa34"]]},{"id":"57b865e7.74208c","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":600,"wires":[["60cfad0a.22c614"]]},{"id":"d6deb01b.4c211","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":600,"wires":[["57b865e7.74208c"]]},{"id":"922c4e27.038a6","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":310,"y":560,"wires":[["2553bced.1f90d4"]]},{"id":"c15da90b.9d8d28","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":130,"y":560,"wires":[["922c4e27.038a6"]]},{"id":"2553bced.1f90d4","type":"function","z":"327d8106.57cace","name":"Long","func":"msg.payload = msg.payload.values1.long;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":560,"wires":[["6b15e49f.4dfabc"]]},{"id":"60cfad0a.22c614","type":"function","z":"327d8106.57cace","name":"Lat","func":"msg.payload = msg.payload.values1.lat;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":600,"wires":[["8a28354f.5796b8"]]},{"id":"25b272c1.36d16e","type":"function","z":"327d8106.57cace","name":"Long","func":"msg.payload = msg.payload.values1.long;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":500,"wires":[["3f78f774.7b9918"]]},{"id":"965fa7a6.ae5608","type":"function","z":"327d8106.57cace","name":"Lat","func":"msg.payload = msg.payload.values1.lat;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":540,"wires":[["5fa37d35.44fec4"]]},{"id":"afc18e38.a8438","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":540,"wires":[["965fa7a6.ae5608"]]},{"id":"13214256.6bcd0e","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":540,"wires":[["afc18e38.a8438"]]},{"id":"70dec999.0bd838","type":"json","z":"327d8106.57cace","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":500,"wires":[["25b272c1.36d16e"]]},{"id":"673a440a.24c1fc","type":"mqtt in","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/Vaca","qos":"2","datatype":"auto","broker":"39198584.4bde5a","x":950,"y":500,"wires":[["70dec999.0bd838"]]},{"id":"f641b5c3.5425b8","type":"change","z":"327d8106.57cace","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l","tot":"msg"},{"t":"set","p":"cuba10.lit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":220,"wires":[[]]},{"id":"f68a10cf.ecc8f","type":"inject","z":"327d8106.57cace","name":"Alarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1390,"y":760,"wires":[["23552848.19c4f8"]]},{"id":"23552848.19c4f8","type":"function","z":"327d8106.57cace","name":"","func":"msg.status_vaca = flow.get(\"vaca1.status\")\nvar alert1 = msg.status_vaca\nvar alert2 = '*Status classification:* ' + alert1 ;\n\nmsg.payload = {chatId:-446895300, type: 'message', content : alert2};\nmsg.payload.options = {disable_web_page_preview: true , parse_mode: 'Markdown'};\n\nreturn msg;\n\n\n//1772515780","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":760,"wires":[["d97e0819.6936d8"]]},{"id":"c6281478.4069e8","type":"function","z":"327d8106.57cace","name":"Gener stats","func":"let t = flow.get(\"gener.t\")\n\n\nflow.set(\"gener.status\", 'OK')\n\nif (t > 31) {\n    flow.set(\"gener.status\", 'TURN ON FANS')\n}\n\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1040,"wires":[[]]},{"id":"647a3cf6.f3e3d4","type":"comment","z":"327d8106.57cace","name":"Weather Stats","info":"","x":1310,"y":1000,"wires":[]},{"id":"7991f7b8.0d8a18","type":"inject","z":"327d8106.57cace","name":"Alarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":1080,"wires":[["7ab030cf.3d3a9"]]},{"id":"7ab030cf.3d3a9","type":"function","z":"327d8106.57cace","name":"","func":"msg.status_gener = flow.get(\"gener.status\")\nvar alert1 = msg.status_gener\nvar alert2 = '*Heat Warning :* ' + alert1 ;\n\nmsg.payload = {chatId:-446895300, type: 'message', content : alert2};\nmsg.payload.options = {disable_web_page_preview: true , parse_mode: 'Markdown'};\n\nreturn msg;\n\n\n//1772515780","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":1080,"wires":[["2d0f865d.2f71ca"]]},{"id":"ba6ac9db.f03e68","type":"function","z":"327d8106.57cace","name":"Gener stats","func":"let te = flow.get(\"gener.te\")\n\nflow.set(\"genermilk.status\", 'OK')\n\nif (te > 4) {\n    flow.set(\"genermilk.status\", 'NOT OK')\n}\n\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":1320,"wires":[[]]},{"id":"618dcfee.700a1","type":"comment","z":"327d8106.57cace","name":"Refrigeration chain Stats","info":"","x":1610,"y":1280,"wires":[]},{"id":"d4a4a476.0c7348","type":"inject","z":"327d8106.57cace","name":"Alarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":1360,"wires":[["4cfb3be9.e68884"]]},{"id":"4cfb3be9.e68884","type":"function","z":"327d8106.57cace","name":"","func":"msg.milk_gener = flow.get(\"genermilk.status\")\nvar alert1 = msg.milk_gener\nvar alert2 = '*Farm Refrigeration Chain :* ' + alert1 ;\n\nmsg.payload = {chatId:-446895300, type: 'message', content : alert2};\nmsg.payload.options = {disable_web_page_preview: true , parse_mode: 'Markdown'};\n\nreturn msg;\n\n\n//1772515780","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1360,"wires":[["f81b16c0.916fa8"]]},{"id":"dbb648de.d0c928","type":"debug","z":"327d8106.57cace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":200,"wires":[]},{"id":"f050c3a8.0ac7f","type":"mqtt out","z":"327d8106.57cace","name":"","topic":"10:52:1C:5C:88:F0/cmd","qos":"1","retain":"true","broker":"39198584.4bde5a","x":630,"y":1120,"wires":[]},{"id":"7b4158a1.d44ac8","type":"switch","z":"327d8106.57cace","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"29","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1120,"wires":[["f050c3a8.0ac7f"]]},{"id":"7f5a1be9.1830d4","type":"comment","z":"327d8106.57cace","name":"Activa el Relé","info":"","x":540,"y":1160,"wires":[]},{"id":"bd395b72.111928","type":"telegram command","z":"327d8106.57cace","name":"/COWT","command":"/cowt","bot":"1538f17f.86977f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1270,"y":720,"wires":[["16e8ec57.961f04"]]},{"id":"11121122.499d1f","type":"telegram sender","z":"327d8106.57cace","name":"","bot":"1538f17f.86977f","haserroroutput":false,"outputs":1,"x":1740,"y":720,"wires":[[]]},{"id":"d97e0819.6936d8","type":"telegram sender","z":"327d8106.57cace","name":"Notify","bot":"1538f17f.86977f","haserroroutput":false,"outputs":1,"x":1730,"y":760,"wires":[[]]},{"id":"2d0f865d.2f71ca","type":"telegram sender","z":"327d8106.57cace","name":"Notify","bot":"1538f17f.86977f","haserroroutput":false,"outputs":1,"x":1650,"y":1080,"wires":[[]]},{"id":"f81b16c0.916fa8","type":"telegram sender","z":"327d8106.57cace","name":"Notify","bot":"1538f17f.86977f","haserroroutput":false,"outputs":1,"x":1910,"y":1360,"wires":[[]]},{"id":"8ceca622.6638e8","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7d73d2b2.b1084c","type":"ui_group","name":"Cow's Analysis","tab":"eb0347bd.2d9478","order":4,"disp":true,"width":"6","collapse":false},{"id":"945d5fb7.11f9d","type":"ui_group","name":"Farm Map","tab":"eb0347bd.2d9478","order":3,"disp":true,"width":"6","collapse":false},{"id":"d031ea72.6df598","type":"ui_group","name":"Farm Map","tab":"eb0347bd.2d9478","order":3,"disp":true,"width":"6","collapse":false},{"id":"39198584.4bde5a","type":"mqtt-broker","name":"","broker":"linvirtualazure01.northeurope.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f5012362.e6682","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1538f17f.86977f","type":"telegram bot","botname":"Rai2_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"eb0347bd.2d9478","type":"ui_tab","name":"Farm Halter","icon":"dashboard","disabled":false,"hidden":false}]