Camiones/NodeRed flow
[{"id":"16321156.f84c7f","type":"tab","label":"Camión - Tanque","disabled":false,"info":""},{"id":"bee874c2.14fd08","type":"mqtt in","z":"16321156.f84c7f","name":"","topic":"/Camion1","qos":"2","datatype":"auto","broker":"2bd52313.b9d0fc","x":310,"y":180,"wires":[["d95362c.d054fa"]]},{"id":"d95362c.d054fa","type":"json","z":"16321156.f84c7f","name":"","property":"payload","action":"","pretty":false,"x":510,"y":180,"wires":[["7594d463.5d3c5c","8953c49b.439f48"]]},{"id":"7594d463.5d3c5c","type":"change","z":"16321156.f84c7f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":180,"wires":[["bc9ad6f8.e627c8","dd15a003.67f67"]]},{"id":"bc9ad6f8.e627c8","type":"debug","z":"16321156.f84c7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":180,"wires":[]},{"id":"dd15a003.67f67","type":"ui_gauge","z":"16321156.f84c7f","name":"","group":"69634959.3ad458","order":3,"width":0,"height":0,"gtype":"wave","title":"Nivel Leche (L)","label":"L","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":260,"wires":[]},{"id":"8953c49b.439f48","type":"change","z":"16321156.f84c7f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["5a455826.9d1b18","6e018ee4.b4585"]]},{"id":"5a455826.9d1b18","type":"ui_gauge","z":"16321156.f84c7f","name":"","group":"69634959.3ad458","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatura Leche (ºC)","label":"ºC","format":"{{value}}","min":"15","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":300,"wires":[]},{"id":"6e018ee4.b4585","type":"debug","z":"16321156.f84c7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":380,"wires":[]},{"id":"2bd52313.b9d0fc","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69634959.3ad458","type":"ui_group","name":"Default","tab":"6ec1ba8c.f13e64","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ec1ba8c.f13e64","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
