Granja/NodeRed Flow
[{"id":"6dcb1e96.d643e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bd5a4ef9.fa7ce","type":"mqtt in","z":"6dcb1e96.d643e8","name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":130,"y":80,"wires":[["ca477290.88a2b"]]},{"id":"d4b9b25.66d35d","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.temp","pt":"flow","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[[]]},{"id":"ca477290.88a2b","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":80,"wires":[["d4b9b25.66d35d"]]},{"id":"cfa35a0c.6ef108","type":"inject","z":"6dcb1e96.d643e8","name":"LAT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"40.2459","payloadType":"num","x":190,"y":120,"wires":[["bec30c7f.6dde78"]]},{"id":"bec30c7f.6dde78","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":120,"wires":[[]]},{"id":"e435eef5.df0e98","type":"inject","z":"6dcb1e96.d643e8","name":"LONG","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3.4209","payloadType":"num","x":200,"y":160,"wires":[["6573b776.3dd05"]]},{"id":"6573b776.3dd05","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[[]]},{"id":"f633c859.aa7d28","type":"inject","z":"6dcb1e96.d643e8","name":"Pulse","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"65","payloadType":"num","x":190,"y":200,"wires":[["551d7840.7b348"]]},{"id":"3ebd7ef1.8ea4f2","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[[]]},{"id":"8762be5.636c14","type":"inject","z":"6dcb1e96.d643e8","name":"Walking distance","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"3 km","payloadType":"str","x":230,"y":240,"wires":[["5390b987.25dd2"]]},{"id":"5390b987.25dd2","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[[]]},{"id":"551d7840.7b348","type":"random","z":"6dcb1e96.d643e8","name":"<3 beats/min","low":"58","high":"72","inte":"true","property":"payload","x":330,"y":200,"wires":[["52398bb4.ebe7e4"]]},{"id":"1f4b84.95909c7c","type":"inject","z":"6dcb1e96.d643e8","name":"Produced Milk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":220,"y":280,"wires":[["ccc90eb3.31009"]]},{"id":"ccc90eb3.31009","type":"random","z":"6dcb1e96.d643e8","name":"litros","low":"15","high":"18","inte":"true","property":"payload","x":370,"y":280,"wires":[["4946c28f.9e95e4"]]},{"id":"3467f4f1.93b504","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca1.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[[]]},{"id":"4946c28f.9e95e4","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":280,"wires":[["3467f4f1.93b504"]]},{"id":"b4139b89.c65c6","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"cow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[[]]},{"id":"7771d4b6.4a02cc","type":"ui_dropdown","z":"6dcb1e96.d643e8","name":"Select","label":"<i class=\"fa fa-hand-point-o\" aria-hidden=\"true\"></i>","tooltip":"","place":"Select Option","group":"f69a4609.4bfe2","order":2,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Vaca1","value":"vaca1","type":"str"},{"label":"Vaca2","value":"vaca2","type":"str"},{"label":"Vaca3","value":"vaca3","type":"str"}],"payload":"","topic":"","topicType":"str","x":100,"y":720,"wires":[["b4139b89.c65c6"]]},{"id":"d3c99f4b.34828","type":"ui_text","z":"6dcb1e96.d643e8","group":"f69a4609.4bfe2","order":13,"width":6,"height":1,"name":"Temperature","label":"<i class=\"fa fa-thermometer-3\" aria-hidden=\"true\"></i>","format":"Temperature: {{msg.payload.temp}}ยบ","layout":"row-left","x":770,"y":860,"wires":[]},{"id":"c5ec0ecb.07d0e8","type":"ui_text","z":"6dcb1e96.d643e8","group":"f69a4609.4bfe2","order":9,"width":6,"height":1,"name":"Walked Distance","label":"<i class=\"fa fa-spinner\" aria-hidden=\"true\"></i>","format":"Walked Distance: {{msg.payload.distance}}","layout":"row-left","x":790,"y":780,"wires":[]},{"id":"9819b674.6cc32","type":"ui_button","z":"6dcb1e96.d643e8","name":"","group":"f69a4609.4bfe2","order":8,"width":4,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":820,"wires":[["9b8e7d4d.3ba9a8"]]},{"id":"9b8e7d4d.3ba9a8","type":"switch","z":"6dcb1e96.d643e8","name":"","property":"cow","propertyType":"flow","rules":[{"t":"eq","v":"vaca1","vt":"str"},{"t":"eq","v":"vaca2","vt":"str"},{"t":"eq","v":"vaca3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":820,"wires":[["c129b106.d6d05"],["9d1dcaef.185448"],["1dc6bead.6e79a9"]]},{"id":"c129b106.d6d05","type":"function","z":"6dcb1e96.d643e8","name":"Vaca1","func":"msg.payload = {\n    \ntemp: flow.get(\"vaca1.temp\"),\npulse: flow.get (\"vaca1.pulse\"),\ndistance: flow.get(\"vaca1.distance\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":760,"wires":[["8995c699.fbb918"]]},{"id":"8995c699.fbb918","type":"link out","z":"6dcb1e96.d643e8","name":"","links":["86e6d2b7.5083c"],"x":575,"y":820,"wires":[]},{"id":"86e6d2b7.5083c","type":"link in","z":"6dcb1e96.d643e8","name":"","links":["8995c699.fbb918","b6f2bcd6.e79e3","5d7f15c7.67493c","c2b36252.bac9c","84f71e36.f155c"],"x":615,"y":820,"wires":[["d3c99f4b.34828","c5ec0ecb.07d0e8","a9e65330.9829c8"]]},{"id":"a9e65330.9829c8","type":"ui_gauge","z":"6dcb1e96.d643e8","name":"Pulse","group":"f69a4609.4bfe2","order":6,"width":6,"height":4,"gtype":"donut","title":"<i class=\"fa fa-heartbeat\" aria-hidden=\"true\"></i>","label":"beats/min","format":"{{msg.payload.pulse}}","min":"0","max":"80","colors":["#ff6251","#ff8c82","#e32400"],"seg1":"70","seg2":"60","x":750,"y":820,"wires":[]},{"id":"aa13d3f9.d50b48","type":"comment","z":"6dcb1e96.d643e8","name":"Cow Visuals","info":"","x":70,"y":680,"wires":[]},{"id":"5da9173.8288968","type":"debug","z":"6dcb1e96.d643e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"52398bb4.ebe7e4","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":200,"wires":[["3ebd7ef1.8ea4f2"]]},{"id":"9b77bf4c.61be38","type":"mqtt in","z":"6dcb1e96.d643e8","name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":130,"y":400,"wires":[["bf226c2a.123cb8"]]},{"id":"120142.9d5bd6be","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.temp","pt":"flow","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[[]]},{"id":"bf226c2a.123cb8","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":400,"wires":[["120142.9d5bd6be"]]},{"id":"2cae0d26.eb9772","type":"inject","z":"6dcb1e96.d643e8","name":"LAT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"40.2459","payloadType":"num","x":190,"y":440,"wires":[["736e598b.60e4e"]]},{"id":"736e598b.60e4e","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[[]]},{"id":"bd41f518.ca5548","type":"inject","z":"6dcb1e96.d643e8","name":"LONG","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3.4209","payloadType":"str","x":200,"y":480,"wires":[["e9736e3.b25751"]]},{"id":"e9736e3.b25751","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[[]]},{"id":"57bccfb0.c363c","type":"inject","z":"6dcb1e96.d643e8","name":"Pulse","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"65","payloadType":"num","x":190,"y":520,"wires":[["64c54481.9d795c"]]},{"id":"d7a7aa0a.3168","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":520,"wires":[[]]},{"id":"136fc79f.dc42c8","type":"inject","z":"6dcb1e96.d643e8","name":"Walking distance","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"3 km","payloadType":"str","x":230,"y":560,"wires":[["4fd15e50.89cfe8"]]},{"id":"4fd15e50.89cfe8","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[[]]},{"id":"64c54481.9d795c","type":"random","z":"6dcb1e96.d643e8","name":"<3 beats/min","low":"58","high":"72","inte":"true","property":"payload","x":330,"y":520,"wires":[["fae524ea.24724"]]},{"id":"66011f30.7b0ad8","type":"inject","z":"6dcb1e96.d643e8","name":"Produced Milk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":220,"y":600,"wires":[["364ba7f5.978ed8"]]},{"id":"364ba7f5.978ed8","type":"random","z":"6dcb1e96.d643e8","name":"litros","low":"15","high":"18","inte":"true","property":"payload","x":370,"y":600,"wires":[["74882027.6b814"]]},{"id":"3df7b8ac.4cb68","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca2.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":600,"wires":[[]]},{"id":"74882027.6b814","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":600,"wires":[["3df7b8ac.4cb68"]]},{"id":"fae524ea.24724","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":520,"wires":[["d7a7aa0a.3168"]]},{"id":"1c2dd2ac.07546d","type":"mqtt in","z":"6dcb1e96.d643e8","name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":970,"y":400,"wires":[["6d407857.552da8"]]},{"id":"1fcd8e5e.ade16a","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.temp","pt":"flow","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":400,"wires":[[]]},{"id":"6d407857.552da8","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":400,"wires":[["1fcd8e5e.ade16a"]]},{"id":"3e2d3fb6.ebbfd8","type":"inject","z":"6dcb1e96.d643e8","name":"LAT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"40.2459","payloadType":"str","x":1030,"y":440,"wires":[["8ab2a35a.a679f"]]},{"id":"8ab2a35a.a679f","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.lat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":440,"wires":[[]]},{"id":"c6e6613a.20ae58","type":"inject","z":"6dcb1e96.d643e8","name":"LONG","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"3.4209","payloadType":"str","x":1040,"y":480,"wires":[["9397ab0c.1384a8"]]},{"id":"9397ab0c.1384a8","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.long","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":480,"wires":[[]]},{"id":"579ceeaf.35ca6","type":"inject","z":"6dcb1e96.d643e8","name":"Pulse","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"65","payloadType":"num","x":1030,"y":520,"wires":[["30bbe116.e21f66"]]},{"id":"503ee493.ccee8c","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.pulse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":520,"wires":[[]]},{"id":"777ad147.2572b8","type":"inject","z":"6dcb1e96.d643e8","name":"Walking distance","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"3 km","payloadType":"str","x":1070,"y":560,"wires":[["92c039a7.32073"]]},{"id":"92c039a7.32073","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.distance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":560,"wires":[[]]},{"id":"30bbe116.e21f66","type":"random","z":"6dcb1e96.d643e8","name":"<3 beats/min","low":"58","high":"72","inte":"true","property":"payload","x":1170,"y":520,"wires":[["ceab7e42.f1b678"]]},{"id":"e7ffa349.446ae","type":"inject","z":"6dcb1e96.d643e8","name":"Produced Milk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1060,"y":600,"wires":[["3ac8ec75.78bb14"]]},{"id":"3ac8ec75.78bb14","type":"random","z":"6dcb1e96.d643e8","name":"litros","low":"15","high":"18","inte":"true","property":"payload","x":1210,"y":600,"wires":[["b85c4ef1.a5e39"]]},{"id":"a822382d.0c60d","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"vaca3.leche","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":600,"wires":[[]]},{"id":"b85c4ef1.a5e39","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":1350,"y":600,"wires":[["a822382d.0c60d"]]},{"id":"ceab7e42.f1b678","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":520,"wires":[["503ee493.ccee8c"]]},{"id":"9d1dcaef.185448","type":"function","z":"6dcb1e96.d643e8","name":"Vaca2","func":"msg.payload = {\n    \ntemp: flow.get(\"vaca2.temp\"),\npulse: flow.get (\"vaca2.pulse\"),\ndistance: flow.get(\"vaca2.distance\"),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":800,"wires":[["8995c699.fbb918"]]},{"id":"1dc6bead.6e79a9","type":"function","z":"6dcb1e96.d643e8","name":"Vaca3","func":"msg.payload = {\n    \ntemp: flow.get(\"vaca3.temp\"),\npulse: flow.get (\"vaca3.pulse\"),\ndistance: flow.get(\"vaca3.distance\"),\n    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":840,"wires":[["8995c699.fbb918"]]},{"id":"91fa9d1d.1c0008","type":"comment","z":"6dcb1e96.d643e8","name":"Setting Parameters to determine Cow's health and creating alarms","info":"","x":240,"y":360,"wires":[]},{"id":"d7b5bfbe.b70c4","type":"comment","z":"6dcb1e96.d643e8","name":"Setting Cow Features","info":"","x":100,"y":40,"wires":[]},{"id":"e926cf21.e38d9","type":"comment","z":"6dcb1e96.d643e8","name":"Pending to receive data from ESP32","info":"","x":740,"y":120,"wires":[]},{"id":"140d26ce.b73779","type":"comment","z":"6dcb1e96.d643e8","name":"Simulated Data","info":"","x":860,"y":200,"wires":[]},{"id":"9a294089.e2eb68","type":"debug","z":"6dcb1e96.d643e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":720,"wires":[]},{"id":"fe312462.77541","type":"comment","z":"6dcb1e96.d643e8","name":"Mapping farms & cows","info":"","x":120,"y":940,"wires":[]},{"id":"71482ca.d298054","type":"inject","z":"6dcb1e96.d643e8","name":"read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":1180,"wires":[["8c97ac6b.b521b"]]},{"id":"8c97ac6b.b521b","type":"file in","z":"6dcb1e96.d643e8","name":"farms","filename":"/Users/raiza/Desktop/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":230,"y":1180,"wires":[["e06c64e5.adf46"]]},{"id":"e06c64e5.adf46","type":"xml","z":"6dcb1e96.d643e8","name":"","property":"payload","attr":"","chr":"","x":350,"y":1180,"wires":[["8a7f41ff.01eb78"]]},{"id":"8a7f41ff.01eb78","type":"function","z":"6dcb1e96.d643e8","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1180,"wires":[[]]},{"id":"adf703ea.c2295","type":"worldmap in","z":"6dcb1e96.d643e8","name":"","path":"/map/farm1","events":"all","x":100,"y":1260,"wires":[["8b2c511d.ed974"]]},{"id":"50e11c68.1216a4","type":"ui_worldmap","z":"6dcb1e96.d643e8","group":"c9906751.711e1","order":4,"width":"6","height":7,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":910,"y":1320,"wires":[]},{"id":"8b2c511d.ed974","type":"switch","z":"6dcb1e96.d643e8","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":1260,"wires":[["9f7bc984.fd7a28"]]},{"id":"19238d9d.12ce8a","type":"ui_button","z":"6dcb1e96.d643e8","name":"","group":"c9906751.711e1","order":5,"width":"5","height":1,"passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":80,"y":1420,"wires":[["29aca078.1be408","667654d5.8d29e4"]]},{"id":"f4067440.e89558","type":"inject","z":"6dcb1e96.d643e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1320,"wires":[["19238d9d.12ce8a"]]},{"id":"db9a9cb0.42fb8","type":"inject","z":"6dcb1e96.d643e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":140,"y":1540,"wires":[["540443f7.c1cd7c"]]},{"id":"771cbecd.6aa7a","type":"inject","z":"6dcb1e96.d643e8","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":140,"y":1580,"wires":[["540443f7.c1cd7c"]]},{"id":"e2363886.79d128","type":"inject","z":"6dcb1e96.d643e8","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":140,"y":1620,"wires":[["540443f7.c1cd7c"]]},{"id":"1bed6bbf.1e4cc4","type":"inject","z":"6dcb1e96.d643e8","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":150,"y":1660,"wires":[["540443f7.c1cd7c"]]},{"id":"6dd9dd7b.51db94","type":"inject","z":"6dcb1e96.d643e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":140,"y":1700,"wires":[["540443f7.c1cd7c"]]},{"id":"540443f7.c1cd7c","type":"function","z":"6dcb1e96.d643e8","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":420,"y":1660,"wires":[]},{"id":"b651e89c.9f65a8","type":"change","z":"6dcb1e96.d643e8","name":"","rules":[{"t":"set","p":"granjas","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1460,"wires":[[]]},{"id":"56527204.eeaadc","type":"ui_dropdown","z":"6dcb1e96.d643e8","name":"Select","label":"","tooltip":"","place":"Select option","group":"c9906751.711e1","order":3,"width":"5","height":1,"passthru":true,"multiple":false,"options":[{"label":"Mas Gener","value":"mas_gener","type":"str"},{"label":"Can Siset","value":"can_siset","type":"str"},{"label":"Mas Almar","value":"mas_almar","type":"str"},{"label":"Mas Badosa","value":"mas_badosa","type":"str"},{"label":"Mas Colom","value":"mas_colom","type":"str"}],"payload":"","topic":"","topicType":"str","x":90,"y":1460,"wires":[["b651e89c.9f65a8"]]},{"id":"7ebada89.6af724","type":"function","z":"6dcb1e96.d643e8","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1260,"wires":[["50e11c68.1216a4"]]},{"id":"94a931f5.3c0bd","type":"mqtt in","z":"6dcb1e96.d643e8","name":"","topic":"10:52:1C:5C:88:F0/humidity","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":160,"y":1020,"wires":[["9295cd23.0212b8"]]},{"id":"456dd4fd.dd68cc","type":"mqtt in","z":"6dcb1e96.d643e8","name":"","topic":"10:52:1C:5C:88:F0/temperature","qos":"2","datatype":"auto","broker":"8ceca622.6638e8","x":170,"y":1060,"wires":[["a0607db6.35cea8"]]},{"id":"9295cd23.0212b8","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1020,"wires":[[]]},{"id":"a0607db6.35cea8","type":"json","z":"6dcb1e96.d643e8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1060,"wires":[[]]},{"id":"29aca078.1be408","type":"function","z":"6dcb1e96.d643e8","name":"","func":"f=flow.get(\"farms\")\ng=flow.get(\"granjas\")\nmsg.payload=f[g]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1420,"wires":[["3c918b45.e2e174","b8861a15.dea738"]]},{"id":"3c918b45.e2e174","type":"function","z":"6dcb1e96.d643e8","name":"","func":"msg.color = \"green\"\nif(msg.payload.humidity > 70){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1380,"wires":[["1b29ca14.3c0f16"]]},{"id":"b8861a15.dea738","type":"function","z":"6dcb1e96.d643e8","name":"","func":"msg.color = \"green\"\nif(msg.payload.temperature > 32){\nmsg.color = \"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1420,"wires":[["64be33b7.804554"]]},{"id":"1b29ca14.3c0f16","type":"ui_text","z":"6dcb1e96.d643e8","group":"c9906751.711e1","order":2,"width":0,"height":0,"name":"Hum","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> Humidity: </i>","format":"<font color= {{msg.color}} > {{msg.payload.humidity}}% </font>","layout":"row-spread","x":670,"y":1380,"wires":[]},{"id":"64be33b7.804554","type":"ui_text","z":"6dcb1e96.d643e8","group":"c9906751.711e1","order":1,"width":0,"height":0,"name":"Temp","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"> Temperature:</i>","format":"<font color= {{msg.color}} > {{msg.payload.temperature}}ยบC </font>","layout":"row-spread","x":670,"y":1420,"wires":[]},{"id":"9f7bc984.fd7a28","type":"change","z":"6dcb1e96.d643e8","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1260,"wires":[["7ebada89.6af724"]]},{"id":"667654d5.8d29e4","type":"function","z":"6dcb1e96.d643e8","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1320,"wires":[["50e11c68.1216a4"]]},{"id":"e2c48bbc.c24cb","type":"function","z":"6dcb1e96.d643e8","name":"Status Cow 1","func":"let temp = flow.get(\"vaca1.temp\")\nlet pulse = flow.get(\"vaca1.pulse\")\n\nflow.set(\"vaca1.status\", 'OK')\n\nif ((temp > 25) || (temp < 38.5)){\n    flow.set(\"vaca1.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca1.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":700,"wires":[[]]},{"id":"853eec2.f6e609","type":"inject","z":"6dcb1e96.d643e8","name":"Alarms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":990,"y":760,"wires":[["e2c48bbc.c24cb","c4bbef73.9c032","9be64d41.a80be8"]]},{"id":"30cc937.629e3ec","type":"comment","z":"6dcb1e96.d643e8","name":"Status Table","info":"","x":950,"y":700,"wires":[]},{"id":"c4bbef73.9c032","type":"function","z":"6dcb1e96.d643e8","name":"Status Cow 2","func":"let temp = flow.get(\"vaca2.temp\")\nlet pulse = flow.get(\"vaca2.pulse\")\n\nflow.set(\"vaca2.status\", 'OK')\n\nif ((temp > 25) || (temp < 38.5)){\n    flow.set(\"vaca2.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca2.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":740,"wires":[[]]},{"id":"9be64d41.a80be8","type":"function","z":"6dcb1e96.d643e8","name":"Status Cow 3","func":"let temp = flow.get(\"vaca3.temp\")\nlet pulse = flow.get(\"vaca3.pulse\")\n\nflow.set(\"vaca3.status\", 'OK')\n\nif ((temp > 25) || (temp < 38.5)){\n    flow.set(\"vaca3.status\", 'NOT OK')\n}\n\nif ((pulse < 60) || (pulse > 70)){\n    flow.set(\"vaca3.status\", 'NOT OK')\n}\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":780,"wires":[[]]},{"id":"6a51861d.a7838","type":"comment","z":"6dcb1e96.d643e8","name":"Cow Telegram","info":"","x":950,"y":840,"wires":[]},{"id":"17f55656.97fdb2","type":"telegram sender","z":"6dcb1e96.d643e8","name":"","bot":"b2902b74.fd3ad","haserroroutput":false,"outputs":1,"x":1460,"y":940,"wires":[[]]},{"id":"ae2b6790.c45978","type":"function","z":"6dcb1e96.d643e8","name":"","func":"var alert1 = msg.payload\n\nvar alert = 'Status classification. ' + alert1 ;\n\n\nmsg.payload.chatId = -1772515780 ;\nmsg.payload.type = 'message';\nmsg.payload.content = alert;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":900,"wires":[["17f55656.97fdb2","ca1670d1.352cd8"]]},{"id":"ca1670d1.352cd8","type":"debug","z":"6dcb1e96.d643e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":900,"wires":[]},{"id":"9e1d4617.14fa9","type":"function","z":"6dcb1e96.d643e8","name":"","func":"var first_name = msg.originalMessage.from.first_name\nvar last_name = msg.originalMessage.from.last_name\n\nvar helpMessageb = \"Hi, \" + first_name + \" \" + last_name + \"!\\r\\n\";\nhelpMessageb += \"/cowt - shows current cow temp\\r\\n\";\nhelpMessageb = \"chatId: \" + msg.payload.chatId + \"\\r\\n\" ;\n\nmsg.payload.content = helpMessageb;\nmsg.chatId = msg.payload.chatId ;\nmsg.payload= flow.get(\"vaca1.status\");\n\n\n   \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1000,"wires":[[]]},{"id":"3cb57fd7.0143c8","type":"telegram command","z":"6dcb1e96.d643e8","name":"/COWT","command":"/cowt","bot":"b2902b74.fd3ad","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":990,"y":900,"wires":[["3175067b.1c001a"]]},{"id":"3175067b.1c001a","type":"function","z":"6dcb1e96.d643e8","name":"get chatId","func":"\nvar first_name = msg.originalMessage.from.first_name\nvar last_name = msg.originalMessage.from.last_name\n\nvar helpMessageb = \"Hi, \" + first_name + \" \" + last_name + \"!\\r\\n\";\nhelpMessageb += \"Here are some functions you can test, try them all!\\r\\n\\n\"\nhelpMessageb += \"/help - shows this help message\\r\\n\";\nhelpMessageb += \"/weather - shows current weather\\r\\n\";\nhelpMessageb += \"/temp - shows current temp\\r\\n\";\nhelpMessageb += \"/cowt - shows current cow temp and pulse\\r\\n\";\n\n\nmsg.payload.content1 = helpMessageb;\nmsg.chatId = -1772515780;\nmsg.payload= flow.get(\"vaca1.status\");\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":900,"wires":[["ae2b6790.c45978"]],"outputLabels":["User has access"]},{"id":"ea495c9f.37649","type":"function","z":"6dcb1e96.d643e8","name":"get chatId","func":"var first_name = msg.originalMessage.from.first_name\nvar last_name = msg.originalMessage.from.last_name\n\nvar helpMessageb = \"Hi, \" + first_name + \" \" + last_name + \"!\\r\\n\";\nhelpMessageb += \"Here are some functions you can test, try them all!\\r\\n\\n\"\nhelpMessageb += \"/help - shows this help message\\r\\n\";\nhelpMessageb += \"/weather - shows current weather\\r\\n\";\nhelpMessageb += \"/temp - shows current temp\\r\\n\";\nhelpMessageb = \"chatId: \" + msg.payload.chatId + \"\\r\\n\" ;\n\nmsg.payload.content1 = helpMessageb;\nmsg.chatId = msg.payload.chatId ;\nmsg.payload= {\"appid\":\"77bd9f189bbad73a37a29e0633861f1f\",\"lat\":41.3879,\"lon\":2.16992,\"units\":\"metric\"}\nreturn msg;\n\n\n\n\n\n\n\n// forecast for today\n//forecast = forecast + \" Forecast for today is \" + msg.payload.daily.data[0].summary.toLowerCase();\n//forecast = forecast + \" Temperature from \" + Math.floor(msg.payload.daily.data[0].temperatureMin,0) + \" to \" + Math.floor(msg.payload.daily.data[0].temperatureMax,0) + \" degrees.\";\n//if (msg.payload.daily.data[0].clouds!==undefined) {\n    //forecast = forecast + \" Chance of \" + msg.payload.daily.data[0].clouds + \" is \" + Math.floor(msg.payload.daily.data[0].clouds*100,0) + \" percent.\";\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":960,"wires":[[]],"outputLabels":["User has access"]},{"id":"8ceca622.6638e8","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f69a4609.4bfe2","type":"ui_group","name":"Cow's Analysis","tab":"cfb6924d.627d9","order":4,"disp":true,"width":"6","collapse":false},{"id":"c9906751.711e1","type":"ui_group","name":"Farm Map","tab":"cfb6924d.627d9","order":3,"disp":true,"width":"6","collapse":false},{"id":"b2902b74.fd3ad","type":"telegram bot","botname":"Rai2_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cfb6924d.627d9","type":"ui_tab","name":"Farm Halter","icon":"dashboard","disabled":false,"hidden":false}]
