Camiones/NodeRed/flows_tableV1.json
[{"id":"9a4232d0.43cce","type":"tab","label":"Truck Table","disabled":false,"info":""},{"id":"a427dcbd.d28f8","type":"inject","z":"9a4232d0.43cce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["5ccbf789.0389c8"]]},{"id":"5ccbf789.0389c8","type":"function","z":"9a4232d0.43cce","name":"","func":"var data = [\n            {\n                \"nombre\":\"Daniel\",\n                \"camion\": \"Scania 2456-FCM\",\n                \"truck colour\":\"red\",\n                \"revision\": 3,\n                \"level\": \"50\",\n                \"traffic\": 32\n            },\n            {\n                \"nombre\":\"Manolo\",\n                \"camion\": \"Mercedes Benz 8764-FCM\",\n                \"truck colour\":\"orange\",\n                \"revision\": 5,\n                \"level\": \"32\",\n                \"traffic\": 65\n            },\n            {\n                \"nombre\":\"Marcos\",\n                \"camion\":\"Iveco 9264-FCM\",\n                \"truck colour\":\"yellow\",\n                \"revision\": 4,\n                \"level\": \"98\",\n                \"traffic\": 84\n            },\n             {\n                \"nombre\":\"Maria\",\n                \"camion\":\"Volvo 1184-FCM\",\n                \"truck colour\":\"blue\",\n                \"revision\": 4,\n                \"level\": \"78\",\n                \"traffic\": 44\n            },\n             {\n                \"nombre\":\"Abel\",\n                \"camion\":\"Renault 9264-FCM\",\n                \"truck colour\":\"purple\",\n                \"revision\": 4,\n                \"level\": \"2\",\n                \"traffic\": 22\n            }\n            ];\nmsg.payload = data;\n            \n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["c0cdf1.5874721"]]},{"id":"c0cdf1.5874721","type":"ui_table","z":"9a4232d0.43cce","group":"d1e1d0fe.3493f8","name":"","order":1,"width":23,"height":6,"columns":[{"field":"nombre","title":"Nombre","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"camion","title":"Modelo Camión","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"truck colour","title":"Truck Colour","width":"","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"revision","title":"Revision","width":"","align":"left","formatter":"star","formatterParams":{"target":"_blank"}},{"field":"level","title":"Level (%)","width":"","align":"left","formatter":"progress","formatterParams":{"target":"_blank"}},{"field":"traffic","title":"Traffic Light","width":"","align":"center","formatter":"traffic","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":530,"y":160,"wires":[]},{"id":"2cce22e2.5d9f0e","type":"ui_button","z":"9a4232d0.43cce","name":"","group":"d1e1d0fe.3493f8","order":2,"width":0,"height":0,"passthru":false,"label":"Update table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":120,"wires":[["5ccbf789.0389c8"]]},{"id":"d1e1d0fe.3493f8","type":"ui_group","name":"Status Truck","tab":"f64eb6be.3adcd8","order":1,"disp":true,"width":23,"collapse":false},{"id":"f64eb6be.3adcd8","type":"ui_tab","name":"Truck Table","icon":"dashboard","disabled":false,"hidden":false}]
